<a href="https://colab.research.google.com/github/MStamirski/365DataScience-students/blob/main/FeaturesEngineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparation, data cleaning

In [ ]:
from google.colab import drive
drive.mount("/content/drive")
path = "drive/MyDrive/Colab_Notebooks/365Challenge/data/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import datetime

In [ ]:
filenames = ['365_course_info', '365_course_ratings', '365_exam_info', '365_quiz_info', '365_student_engagement', '365_student_exams', '365_student_hub_questions', '365_student_info', '365_student_learning', '365_student_purchases', '365_student_quizzes']

In [ ]:
def read_data(filename):
  df = pd.read_csv(path+filename+".csv")
  for col in df.columns:
    if 'date' in col:
      df[col] = pd.to_datetime(df[col], format='%Y-%m-%d')
  return df

In [ ]:
src_course_info = read_data(filenames[0])
src_course_rating = read_data(filenames[1])
src_exam_info = read_data(filenames[2])
src_quiz_info = read_data(filenames[3])
src_student_engagement = read_data(filenames[4])
src_student_exams = read_data(filenames[5])

In [ ]:
src_student_exams.shape

(34030, 6)

In [ ]:
src_student_exams['exam_completion_time'].max()

198.12

In [ ]:
quant = np.quantile(src_student_exams['exam_completion_time'],0.99)
quant

75.0

In [ ]:
# About 1% of data are outliers, let's assign it to a value of 99 quantile
src_student_exams['exam_completion_time'] = src_student_exams['exam_completion_time'].apply(lambda x: min(x, quant))

In [ ]:
src_student_exams['exam_completion_time'].describe()

count    34030.000000
mean         8.316957
std         12.360311
min          0.070000
25%          1.030000
50%          4.225000
75%         10.000000
max         75.000000
Name: exam_completion_time, dtype: float64

In [ ]:
src_student_hub_questions = read_data(filenames[6])
src_student_info = read_data(filenames[7])
src_student_learning = read_data(filenames[8])

In [ ]:
src_student_learning.shape

(64535, 4)

In [ ]:
src_student_learning['minutes_watched'].describe()

count    64535.000000
mean        28.545392
std         40.580553
min          0.000000
25%          3.800000
50%         15.900000
75%         38.100000
max       1710.600000
Name: minutes_watched, dtype: float64

In [ ]:
quant = np.quantile(src_student_learning['minutes_watched'],0.99)
quant

177.4

In [ ]:
# About 1% of data are outliers, let's assign it to a value of 99 quantile
src_student_learning['minutes_watched'] = src_student_learning['minutes_watched'].apply(lambda x: min(x, quant))

In [ ]:
src_student_learning['minutes_watched'].describe()

count    64535.000000
mean        27.719826
std         34.008315
min          0.000000
25%          3.800000
50%         15.900000
75%         38.100000
max        177.400000
Name: minutes_watched, dtype: float64

In [ ]:
src_student_purchases = read_data(filenames[9])
src_student_quizzes = read_data(filenames[10])

In [ ]:
src_student_quizzes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147029 entries, 0 to 147028
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   student_id   147029 non-null  int64
 1   quiz_id      147029 non-null  int64
 2   question_id  147029 non-null  int64
 3   answer_id    146800 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 4.5 MB

In [ ]:
src_student_quizzes['answer_id'].describe()

count    146800.000000
mean       2613.594149
std        1298.666048
min          85.000000
25%        1420.000000
50%        3087.000000
75%        3267.000000
max        4755.000000
Name: answer_id, dtype: float64

In [ ]:
# answer "0" will be treated as wrong answer
src_student_quizzes['answer_id'] = src_student_quizzes['answer_id'].fillna(0)

In [ ]:
src_student_quizzes['answer_id'] = src_student_quizzes['answer_id'].astype(int)

In [ ]:
src_student_quizzes['answer_id'].describe()

count    147029.000000
mean       2609.523434
std        1301.740903
min           0.000000
25%        1420.000000
50%        3087.000000
75%        3267.000000
max        4755.000000
Name: answer_id, dtype: float64

In [ ]:
src_student_quizzes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147029 entries, 0 to 147028
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   student_id   147029 non-null  int64
 1   quiz_id      147029 non-null  int64
 2   question_id  147029 non-null  int64
 3   answer_id    147029 non-null  int64
dtypes: int64(4)
memory usage: 4.5 MB

In [ ]:
# function for filtering data: up to date of first payment or all of them (up to future date)
def get_payment_date(student_id):
  dates = src_student_purchases[src_student_purchases['student_id']==student_id]['date_purchased']
  if len(dates) == 0:
    return datetime.date(2022, 12, 31)
  else:
    return dates.min().date()

# creating dataset: courses

In [ ]:
# one-hot-encoding
def make_one_hot(categories, assignments):
  dict_cat = {}
  categories = sorted(categories)
  for category in categories:
    if category in assignments.keys():
      dict_cat[category] = assignments[category]
    else:
      dict_cat[category] = 0
  return dict_cat

In [ ]:
# list of passed unique courses id's for student before payment
def get_courses_id(student_id, end_date):
  student_courses = src_student_learning[src_student_learning['student_id']==student_id]
  courses_to_date = student_courses[student_courses['date_watched'].dt.date<end_date]['course_id']
  return courses_to_date.unique().tolist()

In [ ]:
# one-hot-encoding to dataset columns of passed courses id's for student before payment
def get_one_hot_courses_id(student_id):
  end_date = get_payment_date(student_id)
  selected_courses = get_courses_id(student_id, end_date)
  dictionary_courses_id = {course: 1 for course in selected_courses}
  courses_list = src_course_info['course_id'].sort_values()
  one_hot_courses_id = make_one_hot(courses_list, dictionary_courses_id)
  one_hot_courses_id_cols = {"Course_Nr_"+str(course): one_hot_courses_id[course] for course in one_hot_courses_id.keys()}
  return one_hot_courses_id_cols

In [ ]:
def get_total_courses_nr(student_id):
  end_date = get_payment_date(student_id)
  selected_courses = get_courses_id(student_id, end_date)
  return {"Courses_Nr": len(selected_courses)}

In [ ]:
# dictionary of time in passed courses for student before payment
def get_courses_time(student_id, end_date):
  student_courses = src_student_learning[src_student_learning['student_id']==student_id]
  courses_to_date = student_courses[student_courses['date_watched'].dt.date<end_date]
  times_to_date = courses_to_date.groupby("course_id").sum()
  times_in_courses = {}
  for course, minutes in zip(times_to_date.index, times_to_date['minutes_watched']):
    times_in_courses[course] = minutes
  return times_in_courses

In [ ]:
# one-hot-encoding to dataset columns of time in passed courses for student before payment
def get_one_hot_courses_time(student_id):
  end_date = get_payment_date(student_id)
  dictionary_times = get_courses_time(student_id, end_date)
  courses_list = src_course_info['course_id'].sort_values()
  one_hot_courses_time = make_one_hot(courses_list, dictionary_times)
  one_hot_courses_time_cols = {"Course_Time_"+str(course): one_hot_courses_time[course] for course in one_hot_courses_time.keys()}
  return one_hot_courses_time_cols

# end_date = datetime.date(2022,12,31)
# get_one_hot_courses_time(266862)

In [ ]:
def get_total_courses_time(student_id):
  end_date = get_payment_date(student_id)
  dictionary_times = get_courses_time(student_id, end_date)
  return {"Courses_Time": sum(dictionary_times.values())}

In [ ]:
# general rating of student courses before his payment
def get_courses_general_rating(student_id, end_date):
  student_courses = src_student_learning[src_student_learning['student_id']==student_id]
  courses_to_date = student_courses[student_courses['date_watched'].dt.date<end_date]["course_id"]
  ratings = src_course_rating[src_course_rating['date_rated'].dt.date<end_date].groupby("course_id").mean()
  ratings_of_courses = {}
  for course in courses_to_date:
    if course in ratings.index:
      ratings_of_courses[course] = ratings.loc[course]["course_rating"]
    else:
      ratings_of_courses[course] = 0
  return ratings_of_courses

In [ ]:
# one-hot-encoding to dataset columns of average general ratings of courses passed by student before his payment
def get_one_hot_courses_general_rating(student_id):
  end_date = get_payment_date(student_id)
  dictionary_rating = get_courses_general_rating(student_id, end_date)
  courses_list = src_course_info['course_id'].sort_values()
  one_hot_courses_general_ratings = make_one_hot(courses_list, dictionary_rating)
  one_hot_courses_general_ratings_cols = {"Course_GeneralRating_"+str(course): one_hot_courses_general_ratings[course] for course in one_hot_courses_general_ratings.keys()}
  return one_hot_courses_general_ratings_cols

# end_date = datetime.date(2022,12,31)
# get_one_hot_courses_general_rating(272965)

In [ ]:
def get_total_average_general_rating(student_id):
  end_date = get_payment_date(student_id)
  dictionary_rating = get_courses_general_rating(student_id, end_date)
  if len(dictionary_rating.values())==0:
    rat = 0
  else:
    rat = sum(dictionary_rating.values())/len(dictionary_rating.values())
  return {"Courses_GeneralRating": rat}

In [ ]:
# individual rating of student courses before his payment
def get_courses_individual_rating(student_id, end_date):
  student_courses = src_student_learning[src_student_learning['student_id']==student_id]
  courses_to_date = student_courses[student_courses['date_watched'].dt.date<end_date]["course_id"]
  individual_ratings = src_course_rating[src_course_rating['student_id']==student_id]
  mean_individual_ratings = individual_ratings[individual_ratings['date_rated'].dt.date<end_date].groupby("course_id").mean()
  dict_general_ratings = get_courses_general_rating(student_id, end_date)
  ratings_of_courses = {}
  for course in courses_to_date:
    if course in mean_individual_ratings.index:
      ratings_of_courses[course] = mean_individual_ratings.loc[course]["course_rating"]
    else:
      ratings_of_courses[course] = dict_general_ratings[course]
  return ratings_of_courses

In [ ]:
# one-hot-encoding to dataset columns of average individual ratings of courses passed by student before his payment
def get_one_hot_courses_individual_rating(student_id):
  end_date = get_payment_date(student_id)
  dictionary_rating = get_courses_individual_rating(student_id, end_date)
  courses_list = src_course_info['course_id'].sort_values()
  one_hot_courses_individual_ratings = make_one_hot(courses_list, dictionary_rating)
  one_hot_courses_individual_ratings_cols = {"Course_IndividRating_"+str(course): one_hot_courses_individual_ratings[course] for course in one_hot_courses_individual_ratings.keys()}
  return one_hot_courses_individual_ratings_cols

# end_date = datetime.date(2022,12,31)
# get_one_hot_courses_individual_rating(272965)

In [ ]:
def get_total_average_individual_rating(student_id):
  end_date = get_payment_date(student_id)
  dictionary_rating = get_courses_individual_rating(student_id, end_date)
  if len(dictionary_rating.values())==0:
    rat = 0
  else:
    rat = sum(dictionary_rating.values())/len(dictionary_rating.values())
  return {"Courses_IndividRating": rat}

In [ ]:
def make_courses_dataset():
  records = []
  students = src_student_info['student_id']
  for student in students:
    courses_numbers = get_one_hot_courses_id(student)
    courses_total_number = get_total_courses_nr(student)
    courses_times = get_one_hot_courses_time(student)
    courses_total_time = get_total_courses_time(student)
    courses_general_ratings = get_one_hot_courses_general_rating(student)
    courses_total_general_rating = get_total_average_general_rating(student)
    courses_individual_ratings = get_one_hot_courses_individual_rating(student)
    courses_total_individual_rating = get_total_average_individual_rating(student)

    columns = {"student_id": student}
    columns.update(courses_numbers)
    columns.update(courses_total_number)
    columns.update(courses_times)
    columns.update(courses_total_time)
    columns.update(courses_general_ratings)
    columns.update(courses_total_general_rating)
    columns.update(courses_individual_ratings)
    columns.update(courses_total_individual_rating)

    records.append(columns)

  df = pd.DataFrame(records)
  return df

In [ ]:
Courses = make_courses_dataset()
Courses

,student_id,Course_Nr_2,Course_Nr_3,Course_Nr_4,Course_Nr_5,Course_Nr_7,Course_Nr_11,Course_Nr_12,Course_Nr_13,Course_Nr_14,...,Course_IndividRating_49,Course_IndividRating_50,Course_IndividRating_51,Course_IndividRating_52,Course_IndividRating_53,Course_IndividRating_54,Course_IndividRating_55,Course_IndividRating_56,Course_IndividRating_57,Courses_IndividRating
0,258798,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4.776860
1,258799,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.000000
2,258800,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.000000
3,258801,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.000000
4,258802,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35225,295511,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4.858392
35226,295512,0,0,0,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4.858392
35227,295513,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4.813953
35228,295514,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.000000
35229,295515,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.000000

In [ ]:
Courses.to_csv(path+"courses.csv", sep="\t")

In [ ]:
Courses.describe()

,student_id,Course_Nr_2,Course_Nr_3,Course_Nr_4,Course_Nr_5,Course_Nr_7,Course_Nr_11,Course_Nr_12,Course_Nr_13,Course_Nr_14,...,Course_IndividRating_49,Course_IndividRating_50,Course_IndividRating_51,Course_IndividRating_52,Course_IndividRating_53,Course_IndividRating_54,Course_IndividRating_55,Course_IndividRating_56,Course_IndividRating_57,Courses_IndividRating
count,35230.000000,35230.000000,35230.000000,35230.000000,35230.000000,35230.000000,35230.000000,35230.000000,35230.000000,35230.000000,...,35230.000000,35230.000000,35230.000000,35230.000000,35230.000000,35230.000000,35230.000000,35230.0,35230.000000,35230.000000
mean,277003.640874,0.011013,0.009991,0.004485,0.003463,0.210843,0.005932,0.003974,0.014845,0.030883,...,0.005081,0.007067,0.005176,0.004104,0.013469,0.003125,0.002426,0.0,0.000596,2.247895
std,10556.258459,0.104366,0.099458,0.066819,0.058746,0.407913,0.076795,0.062914,0.120935,0.173003,...,0.156769,0.182125,0.155479,0.140581,0.252636,0.122291,0.107309,0.0,0.024408,2.397615
min,258798.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
25%,267815.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
50%,277001.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
75%,286075.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,4.817626
max,295515.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,5.000000,5.000000,4.857143,5.000000,5.000000,5.000000,0.0,1.000000,5.000000

In [ ]:
for col in Courses.columns: print(Courses[col].describe())

count     35230.000000
mean     277003.640874
std       10556.258459
min      258798.000000
25%      267815.250000
50%      277001.500000
75%      286075.750000
max      295515.000000
Name: student_id, dtype: float64
count    35230.000000
mean         0.011013
std          0.104366
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_2, dtype: float64
count    35230.000000
mean         0.009991
std          0.099458
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_3, dtype: float64
count    35230.000000
mean         0.004485
std          0.066819
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_4, dtype: float64
count    35230.000000
mean         0.003463
std          0.058746
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_5, dtype: float64
count    35230.000000
mean         0.210843
std          0.407913
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_7, dtype: float64
count    35230.000000
mean         0.005932
std          0.076795
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_11, dtype: float64
count    35230.000000
mean         0.003974
std          0.062914
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_12, dtype: float64
count    35230.000000
mean         0.014845
std          0.120935
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_13, dtype: float64
count    35230.000000
mean         0.030883
std          0.173003
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_14, dtype: float64
count    35230.000000
mean         0.010275
std          0.100847
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_15, dtype: float64
count    35230.000000
mean         0.019188
std          0.137188
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_16, dtype: float64
count    35230.000000
mean         0.002895
std          0.053730
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_19, dtype: float64
count    35230.000000
mean         0.010588
std          0.102351
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_20, dtype: float64
count    35230.000000
mean         0.033352
std          0.179557
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_21, dtype: float64
count    35230.000000
mean         0.006642
std          0.081229
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_22, dtype: float64
count    35230.000000
mean         0.050695
std          0.219378
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_23, dtype: float64
count    35230.000000
mean         0.005251
std          0.072276
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_24, dtype: float64
count    35230.000000
mean         0.005450
std          0.073623
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_25, dtype: float64
count    35230.000000
mean         0.003605
std          0.059933
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_26, dtype: float64
count    35230.000000
mean         0.003293
std          0.057288
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_27, dtype: float64
count    35230.000000
mean         0.011751
std          0.107766
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_28, dtype: float64
count    35230.000000
mean         0.003690
std          0.060634
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_29, dtype: float64
count    35230.000000
mean         0.004456
std          0.066609
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_30, dtype: float64
count    35230.000000
mean         0.003293
std          0.057288
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_32, dtype: float64
count    35230.000000
mean         0.002838
std          0.053203
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_33, dtype: float64
count    35230.000000
mean         0.004485
std          0.066819
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_34, dtype: float64
count    35230.000000
mean         0.012603
std          0.111555
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_35, dtype: float64
count    35230.000000
mean         0.001902
std          0.043569
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_36, dtype: float64
count    35230.000000
mean         0.015527
std          0.123636
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_37, dtype: float64
count    35230.000000
mean         0.004769
std          0.068892
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_39, dtype: float64
count    35230.000000
mean         0.001050
std          0.032391
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_41, dtype: float64
count    35230.000000
mean         0.028981
std          0.167755
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_42, dtype: float64
count    35230.000000
mean         0.001561
std          0.039481
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_43, dtype: float64
count    35230.000000
mean         0.000568
std          0.023820
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_44, dtype: float64
count    35230.000000
mean         0.017542
std          0.131281
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_45, dtype: float64
count    35230.000000
mean         0.003066
std          0.055283
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_46, dtype: float64
count    35230.000000
mean         0.000653
std          0.025543
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_48, dtype: float64
count    35230.000000
mean         0.001107
std          0.033254
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_49, dtype: float64
count    35230.000000
mean         0.001504
std          0.038758
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_50, dtype: float64
count    35230.000000
mean         0.001107
std          0.033254
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_51, dtype: float64
count    35230.000000
mean         0.000852
std          0.029169
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_52, dtype: float64
count    35230.000000
mean         0.002838
std          0.053203
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_53, dtype: float64
count    35230.000000
mean         0.000653
std          0.025543
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_54, dtype: float64
count    35230.000000
mean         0.000511
std          0.022598
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_55, dtype: float64
count    35230.000000
mean         0.000284
std          0.016846
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_56, dtype: float64
count    35230.000000
mean         0.000596
std          0.024408
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_57, dtype: float64
count    35230.000000
mean         0.575532
std          0.750269
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max         16.000000
Name: Courses_Nr, dtype: float64
count    35230.000000
mean         0.361629
std          6.404995
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        354.800000
Name: Course_Time_2, dtype: float64
count    35230.000000
mean         0.439285
std         10.050490
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        816.000000
Name: Course_Time_3, dtype: float64
count    35230.000000
mean         0.166724
std          4.916452
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        432.900000
Name: Course_Time_4, dtype: float64
count    35230.000000
mean         0.100687
std          3.699318
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        333.800000
Name: Course_Time_5, dtype: float64
count    35230.000000
mean         4.306242
std         16.482947
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        354.900000
Name: Course_Time_7, dtype: float64
count    35230.000000
mean         0.132955
std          3.502393
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        177.400000
Name: Course_Time_11, dtype: float64
count    35230.000000
mean         0.102345
std          4.068997
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        531.900000
Name: Course_Time_12, dtype: float64
count    35230.000000
mean         0.337125
std          5.911703
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        354.800000
Name: Course_Time_13, dtype: float64
count    35230.000000
mean         1.067085
std         13.514783
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        804.500000
Name: Course_Time_14, dtype: float64
count    35230.000000
mean         0.314956
std          6.290371
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        551.000000
Name: Course_Time_15, dtype: float64
count    35230.000000
mean         0.468379
std          9.033980
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        722.000000
Name: Course_Time_16, dtype: float64
count    35230.000000
mean         0.050020
std          1.829274
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        138.000000
Name: Course_Time_19, dtype: float64
count    35230.000000
mean         0.156835
std          2.957203
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        177.400000
Name: Course_Time_20, dtype: float64
count    35230.000000
mean         0.988887
std         10.985024
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        523.300000
Name: Course_Time_21, dtype: float64
count    35230.000000
mean         0.083185
std          2.100070
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        132.500000
Name: Course_Time_22, dtype: float64
count    35230.000000
mean         1.431729
std         12.340551
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        432.600000
Name: Course_Time_23, dtype: float64
count    35230.000000
mean         0.097505
std          3.343022
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        445.600000
Name: Course_Time_24, dtype: float64
count    35230.000000
mean         0.095160
std          2.526545
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        224.100000
Name: Course_Time_25, dtype: float64
count    35230.000000
mean         0.048470
std          1.372895
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        105.900000
Name: Course_Time_26, dtype: float64
count    35230.000000
mean         0.043605
std          1.315558
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         96.100000
Name: Course_Time_27, dtype: float64
count    35230.000000
mean         0.264772
std          5.153931
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        301.600000
Name: Course_Time_28, dtype: float64
count    35230.000000
mean         0.092345
std          3.166912
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        358.100000
Name: Course_Time_29, dtype: float64
count    35230.000000
mean         0.101334
std          2.407512
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        238.900000
Name: Course_Time_30, dtype: float64
count    35230.000000
mean         0.047502
std          1.833610
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        177.400000
Name: Course_Time_32, dtype: float64
count    35230.000000
mean         0.065305
std          2.574080
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        305.800000
Name: Course_Time_33, dtype: float64
count    35230.000000
mean         0.120341
std          3.178139
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        247.400000
Name: Course_Time_34, dtype: float64
count    35230.000000
mean         0.190891
std          3.227537
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        187.500000
Name: Course_Time_35, dtype: float64
count    35230.000000
mean         0.041167
std          1.769350
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        163.200000
Name: Course_Time_36, dtype: float64
count    35230.000000
mean         0.246682
std          5.232052
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        413.000000
Name: Course_Time_37, dtype: float64
count    35230.000000
mean         0.086074
std          2.451569
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        177.400000
Name: Course_Time_39, dtype: float64
count    35230.000000
mean         0.028183
std          1.938875
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        260.600000
Name: Course_Time_41, dtype: float64
count    35230.000000
mean         0.775226
std         12.598884
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        733.100000
Name: Course_Time_42, dtype: float64
count    35230.000000
mean         0.019007
std          0.846070
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         82.300000
Name: Course_Time_43, dtype: float64
count    35230.000000
mean         0.006472
std          0.486962
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         53.700000
Name: Course_Time_44, dtype: float64
count    35230.000000
mean         0.184016
std          3.386062
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        309.000000
Name: Course_Time_45, dtype: float64
count    35230.000000
mean         0.079926
std          3.351639
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        323.900000
Name: Course_Time_46, dtype: float64
count    35230.000000
mean         0.013429
std          0.997397
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        121.100000
Name: Course_Time_48, dtype: float64
count    35230.000000
mean         0.011749
std          0.722938
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         90.800000
Name: Course_Time_49, dtype: float64
count    35230.000000
mean         0.016213
std          0.591764
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         49.500000
Name: Course_Time_50, dtype: float64
count    35230.000000
mean         0.014468
std          0.791263
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         67.200000
Name: Course_Time_51, dtype: float64
count    35230.000000
mean         0.014530
std          0.803124
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         89.100000
Name: Course_Time_52, dtype: float64
count    35230.000000
mean         0.043713
std          2.115373
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        265.900000
Name: Course_Time_53, dtype: float64
count    35230.000000
mean         0.011377
std          0.635283
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         60.400000
Name: Course_Time_54, dtype: float64
count    35230.000000
mean         0.003838
std          0.354066
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         61.300000
Name: Course_Time_55, dtype: float64
count    35230.000000
mean         0.004862
std          0.531546
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         76.800000
Name: Course_Time_56, dtype: float64
count    35230.000000
mean         0.002753
std          0.178497
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         23.300000
Name: Course_Time_57, dtype: float64
count    35230.000000
mean        13.293120
std         56.691968

In [ ]:
for col in Courses.columns: print(Courses[col].value_counts())

258798    1
283091    1
283085    1
283086    1
283087    1
         ..
270900    1
270899    1
270898    1
270897    1
295515    1
Name: student_id, Length: 35230, dtype: int64
0    34842
1      388
Name: Course_Nr_2, dtype: int64
0    34878
1      352
Name: Course_Nr_3, dtype: int64
0    35072
1      158
Name: Course_Nr_4, dtype: int64
0    35108
1      122
Name: Course_Nr_5, dtype: int64
0    27802
1     7428
Name: Course_Nr_7, dtype: int64
0    35021
1      209
Name: Course_Nr_11, dtype: int64
0    35090
1      140
Name: Course_Nr_12, dtype: int64
0    34707
1      523
Name: Course_Nr_13, dtype: int64
0    34142
1     1088
Name: Course_Nr_14, dtype: int64
0    34868
1      362
Name: Course_Nr_15, dtype: int64
0    34554
1      676
Name: Course_Nr_16, dtype: int64
0    35128
1      102
Name: Course_Nr_19, dtype: int64
0    34857
1      373
Name: Course_Nr_20, dtype: int64
0    34055
1     1175
Name: Course_Nr_21, dtype: int64
0    34996
1      234
Name: Course_Nr_22, dtype: int64
0    33444
1     1786
Name: Course_Nr_23, dtype: int64
0    35045
1      185
Name: Course_Nr_24, dtype: int64
0    35038
1      192
Name: Course_Nr_25, dtype: int64
0    35103
1      127
Name: Course_Nr_26, dtype: int64
0    35114
1      116
Name: Course_Nr_27, dtype: int64
0    34816
1      414
Name: Course_Nr_28, dtype: int64
0    35100
1      130
Name: Course_Nr_29, dtype: int64
0    35073
1      157
Name: Course_Nr_30, dtype: int64
0    35114
1      116
Name: Course_Nr_32, dtype: int64
0    35130
1      100
Name: Course_Nr_33, dtype: int64
0    35072
1      158
Name: Course_Nr_34, dtype: int64
0    34786
1      444
Name: Course_Nr_35, dtype: int64
0    35163
1       67
Name: Course_Nr_36, dtype: int64
0    34683
1      547
Name: Course_Nr_37, dtype: int64
0    35062
1      168
Name: Course_Nr_39, dtype: int64
0    35193
1       37
Name: Course_Nr_41, dtype: int64
0    34209
1     1021
Name: Course_Nr_42, dtype: int64
0    35175
1       55
Name: Course_Nr_43, dtype: int64
0    35210
1       20
Name: Course_Nr_44, dtype: int64
0    34612
1      618
Name: Course_Nr_45, dtype: int64
0    35122
1      108
Name: Course_Nr_46, dtype: int64
0    35207
1       23
Name: Course_Nr_48, dtype: int64
0    35191
1       39
Name: Course_Nr_49, dtype: int64
0    35177
1       53
Name: Course_Nr_50, dtype: int64
0    35191
1       39
Name: Course_Nr_51, dtype: int64
0    35200
1       30
Name: Course_Nr_52, dtype: int64
0    35130
1      100
Name: Course_Nr_53, dtype: int64
0    35207
1       23
Name: Course_Nr_54, dtype: int64
0    35212
1       18
Name: Course_Nr_55, dtype: int64
0    35220
1       10
Name: Course_Nr_56, dtype: int64
0    35209
1       21
Name: Course_Nr_57, dtype: int64
0     18298
1     14731
2      1551
3       405
4       138
5        53
6        19
7        17
8         9
11        4
14        2
9         2
16        1
Name: Courses_Nr, dtype: int64
0.0      34842
0.1         17
0.6          9
0.7          9
1.5          8
         ...
104.9        1
18.4         1
1.2          1
53.2         1
42.7         1
Name: Course_Time_2, Length: 252, dtype: int64
0.0      34878
0.1         19
0.4         10
177.4        9
1.0          9
         ...
609.9        1
119.6        1
117.0        1
80.2         1
18.9         1
Name: Course_Time_3, Length: 216, dtype: int64
0.0      35072
0.1          6
0.6          5
0.7          4
0.2          4
         ...
34.5         1
38.9         1
4.0          1
21.4         1
150.9        1
Name: Course_Time_4, Length: 122, dtype: int64
0.0      35108
0.1         12
3.0          5
0.3          4
0.2          4
         ...
0.4          1
15.2         1
115.2        1
333.8        1
0.7          1
Name: Course_Time_5, Length: 95, dtype: int64
0.0      27802
0.1        458
0.2        286
1.2        228
0.3        193
         ...
76.1         1
14.6         1
239.3        1
172.9        1
114.0        1
Name: Course_Time_7, Length: 1192, dtype: int64
0.0      35021
0.1         22
0.2         11
0.3          7
0.4          6
         ...
112.3        1
14.3         1
6.9          1
8.3          1
75.4         1
Name: Course_Time_11, Length: 121, dtype: int64
0.0     35090
0.1         9
0.2         4
0.5         3
2.3         3
        ...
1.1         1
21.3        1
6.5         1
26.2        1
4.7         1
Name: Course_Time_12, Length: 106, dtype: int64
0.0     34708
0.1        41
0.5        26
0.2        17
0.6        16
        ...
5.7         1
83.2        1
22.7        1
73.9        1
17.4        1
Name: Course_Time_13, Length: 260, dtype: int64
0.0     34143
0.1        72
0.2        51
0.4        29
0.7        19
        ...
20.4        1
59.1        1
66.3        1
24.3        1
62.8        1
Name: Course_Time_14, Length: 507, dtype: int64
0.0      34868
0.1         15
0.7         14
0.2         11
0.6         10
         ...
110.9        1
18.4         1
16.6         1
99.8         1
177.4        1
Name: Course_Time_15, Length: 231, dtype: int64
0.0      34554
0.1         48
0.2         30
0.3         24
0.7         22
         ...
15.8         1
489.0        1
6.6          1
28.9         1
50.4         1
Name: Course_Time_16, Length: 308, dtype: int64
0.0      35128
0.1         13
0.3          5
0.6          5
0.7          4
         ...
35.9         1
7.4          1
43.4         1
138.0        1
2.0          1
Name: Course_Time_19, Length: 64, dtype: int64
0.0     34857
0.1        43
0.2        21
0.3        20
0.4        10
        ...
77.6        1
75.1        1
45.5        1
13.5        1
6.0         1
Name: Course_Time_20, Length: 189, dtype: int64
0.0      34055
0.1         57
0.2         41
0.3         28
0.4         28
         ...
106.7        1
70.8         1
38.2         1
82.1         1
206.9        1
Name: Course_Time_21, Length: 532, dtype: int64
0.0     34996
0.1        15
0.4        11
0.2         9
0.3         8
        ...
25.6        1
42.8        1
33.1        1
15.9        1
8.6         1
Name: Course_Time_22, Length: 134, dtype: int64
0.0     33444
0.1       107
0.2        64
0.8        62
0.3        50
        ...
32.8        1
97.2        1
83.0        1
48.5        1
43.7        1
Name: Course_Time_23, Length: 702, dtype: int64
0.0     35045
0.2        10
0.1        10
0.3         8
0.4         8
        ...
28.7        1
45.8        1
2.2         1
14.3        1
9.9         1
Name: Course_Time_24, Length: 113, dtype: int64
0.0     35038
0.5         7
0.2         7
0.1         7
1.6         4
        ...
5.0         1
2.7         1
19.3        1
12.9        1
6.5         1
Name: Course_Time_25, Length: 134, dtype: int64
0.0     35103
0.1        15
0.5         7
0.2         6
0.3         5
        ...
9.7         1
8.9         1
19.7        1
4.9         1
17.1        1
Name: Course_Time_26, Length: 79, dtype: int64
0.0     35114
0.1        11
0.4         7
0.2         6
4.3         3
        ...
9.9         1
11.9        1
23.7        1
12.7        1
59.6        1
Name: Course_Time_27, Length: 78, dtype: int64
0.0     34816
0.1        38
0.2        23
0.3        20
0.4        12
        ...
17.8        1
4.6         1
4.8         1
17.2        1
11.9        1
Name: Course_Time_28, Length: 217, dtype: int64
0.0      35100
0.1         14
0.3          4
0.7          3
7.4          3
         ...
106.9        1
1.5          1
1.7          1
15.6         1
31.4         1
Name: Course_Time_29, Length: 103, dtype: int64
0.0     35073
0.1         6
0.5         5
0.3         4
0.2         4
        ...
44.6        1
6.9         1
14.9        1
46.8        1
10.9        1
Name: Course_Time_30, Length: 121, dtype: int64
0.0    35114
0.1       11
0.3        8
0.2        6
0.9        5
       ...
4.5        1
9.4        1
7.0        1
1.4        1
7.5        1
Name: Course_Time_32, Length: 71, dtype: int64
0.0     35130
0.3         6
0.2         6
0.1         6
0.7         3
        ...
18.6        1
16.4        1
37.6        1
2.4         1
10.3        1
Name: Course_Time_33, Length: 74, dtype: int64
0.0     35072
0.2         8
0.1         6
0.3         5
0.6         4
        ...
70.3        1
21.3        1
58.7        1
10.0        1
74.7        1
Name: Course_Time_34, Length: 118, dtype: int64
0.0     34786
0.2        34
0.1        22
0.4        17
0.3        16
        ...
5.7         1
3.9         1
36.0        1
29.0        1
23.5        1
Name: Course_Time_35, Length: 221, dtype: int64
0.0      35163
0.5          3
3.8          3
0.2          3
0.1          3
3.9          2
5.0          2
2.0          2
0.3          2
8.4          2
69.7         1
13.1         1
4.7          1
23.6         1
39.6         1
11.1         1
63.5         1
21.3         1
2.5          1
0.6          1
12.1         1
11.8         1
57.2         1
32.2         1
19.1         1
5.8          1
6.4          1
8.9          1
14.8         1
49.6         1
7.5          1
2.3          1
14.2         1
14.5         1
98.3         1
17.2         1
5.6          1
3.3          1
91.4         1
3.1          1
92.8         1
5.9          1
75.9         1
0.9          1
23.8         1
1.4          1
22.8         1
7.7          1
96.3         1
139.3        1
163.2        1
10.6         1
25.3         1
5.4          1
1.0          1
Name: Course_Time_36, dtype: int64
0.0     34683
0.1        62
0.2        42
0.3        28
0.4        27
        ...
19.3        1
40.0        1
64.0        1
4.8         1
0.8         1
Name: Course_Time_37, Length: 207, dtype: int64
0.0      35062
0.4         10
1.4          8
1.0          7
0.1          7
         ...
6.4          1
16.1         1
130.6        1
12.7         1
10.0         1
Name: Course_Time_39, Length: 104, dtype: int64
0.0      35193
0.2          4
0.1          3
0.3          2
123.1        1
6.0          1
91.7         1
13.3         1
3.3          1
24.7         1
10.1         1
260.6        1
27.9         1
20.1         1
3.2          1
0.9          1
177.4        1
29.6         1
58.6         1
1.1          1
11.2         1
9.5          1
5.4          1
5.6          1
0.4          1
3.5          1
26.7         1
32.2         1
1.7          1
8.7          1
30.7         1
4.0          1
Name: Course_Time_41, dtype: int64
0.0      34209
0.1         92
0.2         57
0.3         42
2.2         36
         ...
227.0        1
148.4        1
357.2        1
44.8         1
62.1         1
Name: Course_Time_42, Length: 383, dtype: int64
0.0     35175
0.3         4
0.2         3
4.7         3
1.2         3
0.5         3
0.1         2
0.7         2
1.9         2
13.2        1
0.6         1
31.7        1
54.0        1
6.7         1
1.3         1
8.5         1
82.3        1
26.7        1
40.9        1
12.1        1
29.3        1
48.0        1
20.8        1
5.1         1
55.3        1
38.0        1
17.5        1
1.4         1
19.3        1
11.7        1
5.3         1
0.9         1
8.1         1
5.2         1
1.7         1
1.8         1
3.5         1
17.6        1
8.0         1
39.5        1
2.5         1
24.7        1
Name: Course_Time_43, dtype: int64
0.0     35210
0.1         3
1.0         2
38.3        1
53.7        1
47.3        1
9.0         1
9.3         1
3.2         1
17.8        1
0.9         1
5.4         1
1.7         1
0.7         1
2.2         1
0.3         1
35.1        1
0.8         1
Name: Course_Time_44, dtype: int64
0.0     34612
0.1        45
0.3        31
0.2        31
0.5        23
        ...
82.2        1
8.5         1
17.9        1
27.2        1
48.2        1
Name: Course_Time_45, Length: 220, dtype: int64
0.0     35122
0.1         4
0.2         4
0.5         4
4.3         4
        ...
7.7         1
14.3        1
1.9         1
6.9         1
31.5        1
Name: Course_Time_46, Length: 82, dtype: int64
0.0      35207
0.1          4
0.3          1
2.7          1
6.9          1
3.9          1
35.7         1
0.8          1
5.3          1
4.8          1
0.2          1
76.5         1
6.3          1
81.9         1
121.1        1
73.0         1
7.3          1
0.9          1
16.8         1
1.4          1
26.9         1
Name: Course_Time_48, dtype: int64
0.0     35191
0.1         7
0.7         3
0.6         2
3.8         2
0.3         2
38.3        2
18.9        1
5.8         1
90.8        1
4.4         1
0.8         1
6.0         1
2.4         1
0.2         1
7.6         1
4.9         1
30.6        1
3.0         1
7.8         1
22.5        1
59.6        1
11.2        1
2.0         1
1.0         1
37.7        1
7.5         1
0.4         1
Name: Course_Time_49, dtype: int64
0.0     35177
0.1         3
9.1         2
5.7         2
0.3         2
14.4        1
12.4        1
11.9        1
12.2        1
21.6        1
0.5         1
1.2         1
14.1        1
8.4         1
36.1        1
27.5        1
49.5        1
16.3        1
3.0         1
0.4         1
18.9        1
5.2         1
0.6         1
0.7         1
18.4        1
3.5         1
29.9        1
20.7        1
6.4         1
4.7         1
1.4         1
1.6         1
6.1         1
23.1        1
11.3        1
10.6        1
11.4        1
4.3         1
13.3        1
8.7         1
31.8        1
4.1         1
4.0         1
3.6         1
3.9         1
30.7        1
1.3         1
8.2         1
22.8        1
Name: Course_Time_50, dtype: int64
0.0     35191
0.4         5
0.1         3
0.5         2
2.1         2
15.1        1
1.7         1
2.9         1
4.0         1
57.3        1
44.7        1
62.5        1
0.2         1
25.5        1
5.2         1
62.0        1
11.5        1
4.4         1
1.9         1
4.7         1
1.6         1
41.7        1
26.5        1
17.8        1
67.2        1
5.0         1
4.5         1
3.8         1
0.8         1
2.8         1
23.6        1
3.3         1
Name: Course_Time_51, dtype: int64
0.0     35200
0.1         3
0.7         2
3.3         1
16.1        1
25.9        1
2.1         1
22.9        1
62.3        1
18.9        1
0.3         1
48.1        1
55.6        1
89.1        1
0.4         1
0.8         1
3.8         1
22.8        1
12.9        1
3.1         1
12.7        1
16.8        1
0.2         1
1.0         1
32.6        1
23.8        1
29.4        1
5.3         1
Name: Course_Time_52, dtype: int64
0.0     35130
0.1        13
0.4         7
0.2         6
0.9         4
        ...
33.1        1
6.5         1
81.4        1
4.6         1
68.5        1
Name: Course_Time_53, Length: 62, dtype: int64
0.0     35207
0.1         3
0.2         2
0.6         1
24.9        1
10.9        1
3.0         1
32.0        1
29.1        1
8.0         1
0.3         1
51.0        1
60.4        1
33.1        1
30.7        1
8.5         1
38.1        1
30.1        1
27.3        1
4.7         1
7.4         1
Name: Course_Time_54, dtype: int64
0.0     35212
1.1         2
0.3         2
0.7         1
9.1         1
1.0         1
4.2         1
15.7        1
61.3        1
6.7         1
4.9         1
1.3         1
12.0        1
1.9         1
0.2         1
7.0         1
6.4         1
Name: Course_Time_55, dtype: int64
0.0     35220
0.2         2
2.8         1
8.5         1
76.8        1
21.1        1
59.4        1
0.9         1
0.1         1
1.3         1
Name: Course_Time_56, dtype: int64
0.0     35209
3.2         3
0.1         3
0.2         2
1.8         2
0.9         1
4.3         1
8.1         1
10.0        1
5.8         1
23.3        1
11.2        1
13.6        1
1.3         1
3.1         1
1.5         1
Name: Course_Time_57, dtype: int64
0.0      18299
0.1       1126
0.2        694
0.3        489
0.4        437
         ...
110.7        1
92.6         1
103.6        1
74.4         1
136.3        1
Name: Courses_Time, Length: 2166, dtype: int64
0.000000    34854
4.625000      365
4.600000        4
4.384615        2
4.617647        2
4.555556        2
4.545455        1
Name: Course_GeneralRating_2, dtype: int64
0.000000    34890
4.705882      327
4.681818        4
4.444444        2
4.500000        2
4.600000        2
4.285714        1
4.571429        1
4.538462        1
Name: Course_GeneralRating_3, dtype: int64
0.000000    35081
4.880000      145
4.857143        2
4.888889        1
4.904762        1
Name: Course_GeneralRating_4, dtype: int64
0.000000    35110
4.903226      119
4.933333        1
Name: Course_GeneralRating_5, dtype: int64
0.000000    28032
4.858392     6981
4.824675        8
4.852814        8
4.833333        8
            ...
4.829384        1
4.825893        1
4.830986        1
4.849558        1
4.854749        1
Name: Course_GeneralRating_7, Length: 89, dtype: int64
0.000000    35029
4.622642      198
4.725000        3
Name: Course_GeneralRating_11, dtype: int64
0.000000    35092
4.357143      137
4.000000        1
Name: Course_GeneralRating_12, dtype: int64
0.000000    34715
4.844444      510
4.840580        2
4.845070        1
4.858974        1
4.853333        1
Name: Course_GeneralRating_13, dtype: int64
0.000000    34183
4.816000     1009
4.814159        4
4.833333        3
4.837500        3
4.818966        2
4.786885        2
4.707317        2
4.675676        2
4.500000        1
4.711111        1
4.812500        1
4.842593        1
4.836538        1
4.845238        1
4.835443        1
4.829787        1
4.800000        1
4.723404        1
4.647059        1
4.727273        1
4.835052        1
4.000000        1
4.625000        1
4.841121        1
4.838384        1
4.803030        1
4.739130        1
4.816667        1
Name: Course_GeneralRating_14, dtype: int64
0.000000    34878
4.705882      344
4.666667        6
4.750000        1
4.900000        1
Name: Course_GeneralRating_15, dtype: int64
0.000000    34577
4.821782      631
4.863636        5
4.835294        3
4.842105        2
4.840580        2
5.000000        1
4.777778        1
4.833333        1
4.828571        1
4.828125        1
4.835821        1
4.837838        1
4.835616        1
4.837500        1
4.843373        1
Name: Course_GeneralRating_16, dtype: int64
0.0    35129
5.0      101
Name: Course_GeneralRating_19, dtype: int64
0.000000    34863
4.929825      353
4.909091        2
4.924528        2
5.000000        1
4.846154        1
4.921053        1
4.823529        1
4.884615        1
4.906250        1
4.914286        1
4.911111        1
4.913043        1
4.920000        1
Name: Course_GeneralRating_20, dtype: int64
0.000000    34108
4.813953     1083
4.819277        2
4.797927        2
4.870968        2
4.920000        2
4.805882        2
4.833333        2
4.818182        1
4.821192        1
4.794286        1
4.825000        1
4.828125        1
4.825397        1
4.815068        1
4.832000        1
4.809756        1
4.857143        1
4.796875        1
4.820513        1
4.826087        1
4.861111        1
4.843137        1
4.820359        1
4.846154        1
4.904762        1
4.777778        1
4.813793        1
4.829268        1
4.827869        1
4.822222        1
4.750000        1
4.842105        1
4.830508        1
4.807692        1
Name: Course_GeneralRating_21, dtype: int64
0.000000    35005
4.850000      215
4.800000        2
4.848485        2
4.809524        1
4.823529        1
4.785714        1
4.750000        1
4.826923        1
4.818182        1
Name: Course_GeneralRating_22, dtype: int64
0.000000    33467
4.776860     1728
4.800000        5
4.754011        3
4.789474        2
4.763736        2
4.787671        1
4.761682        1
4.772532        1
4.752525        1
4.752632        1
4.753695        1
4.765027        1
4.787500        1
4.790123        1
4.783439        1
4.829545        1
4.798561        1
4.822222        1
4.760204        1
4.819277        1
4.810811        1
4.788462        1
4.762791        1
4.714286        1
4.884615        1
4.882353        1
4.885714        1
4.769565        1
Name: Course_GeneralRating_23, dtype: int64
0.000000    35048
4.672131      172
4.759259        2
4.697674        1
4.769231        1
4.800000        1
4.729730        1
4.711111        1
4.740000        1
4.714286        1
4.719298        1
Name: Course_GeneralRating_24, dtype: int64
0.000000    35045
4.809524      182
5.000000        1
4.846154        1
4.888889        1
Name: Course_GeneralRating_25, dtype: int64

# creatinng dataset: quizzes

In [ ]:
# there are no dates for specific quizes available
def get_quiz_result(student_id, quiz_id):
  quiz = src_quiz_info[src_quiz_info['quiz_id']==quiz_id]
  quiz_questions = quiz['question_id'].sort_values().unique()
  correct_answers = []
  for question in quiz_questions:
    answers = quiz[quiz['question_id']==question]
    answer = answers[answers['answer_correct']=='y']['answer_id']
    correct_answers.append(answer.values[0])

  student_quiz = src_student_quizzes[src_student_quizzes['student_id']==student_id]
  student_questions = student_quiz[student_quiz['quiz_id']==quiz_id]
  given_answers = []
  for question in quiz_questions:
    answer = student_questions[student_questions['question_id']==question]['answer_id']
    if len(answer.values)>0:
      given_answers.append(answer.values[0])
    else:
      given_answers.append(0)
  
  total_answers = 0
  good_answers = 0
  for correct, given in zip(correct_answers, given_answers):
    if correct==given:
      good_answers += 1
    total_answers += 1

  return good_answers / total_answers

In [ ]:
def make_quizes_dataset():
  records = []
  students = src_student_info['student_id']

  for student in students:
    quizes = src_student_quizzes[src_student_quizzes['student_id']==student]['quiz_id'].unique()
    result_sum = 0
    for quiz in quizes:
        result_sum += get_quiz_result(student, quiz)
    
    if len(quizes)==0:
      result_avg = 0
    else:
      result_avg = result_sum / len(quizes)

    columns = {"student_id": student}
    columns.update({"Quizes_Result": result_avg})
    records.append(columns)

  df = pd.DataFrame(records)
  return df

In [ ]:
Quizes = make_quizes_dataset()
Quizes

       student_id  Quizes_Result
0          258798       0.000000
1          258799       0.000000
2          258800       0.551918
3          258801       0.000000
4          258802       0.000000
...           ...            ...
35225      295511       0.000000
35226      295512       0.533333
35227      295513       0.457143
35228      295514       0.000000
35229      295515       0.000000

[35230 rows x 2 columns]

In [ ]:
for col in Quizes.columns: print(Quizes[col].describe())

count     35230.000000
mean     277003.640874
std       10556.258459
min      258798.000000
25%      267815.250000
50%      277001.500000
75%      286075.750000
max      295515.000000
Name: student_id, dtype: float64
count    35230.000000
mean         0.137729
std          0.282596
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Quizes_Result, dtype: float64

In [ ]:
for col in Quizes.columns: print(Quizes[col].value_counts())

258798    1
283091    1
283085    1
283086    1
283087    1
         ..
270900    1
270899    1
270898    1
270897    1
295515    1
Name: student_id, Length: 35230, dtype: int64
0.000000    27997
0.500000      786
0.785714      667
0.750000      653
0.833333      308
            ...
0.715107        1
0.803030        1
0.669259        1
0.723767        1
0.626190        1
Name: Quizes_Result, Length: 1772, dtype: int64

In [ ]:
Quizes.to_csv(path+"quizes.csv", sep="\t")

# creating dataset: engagement

In [ ]:
def get_engagement(student_id, end_date):
  engagements = src_student_engagement[src_student_engagement['student_id']==student_id]
  engagements_to_date = engagements[engagements['date_engaged'].dt.date<end_date]
  quizes_sum = engagements_to_date['engagement_quizzes'].sum()
  exams_sum = engagements_to_date['engagement_exams'].sum()
  lessons_sum = engagements_to_date['engagement_lessons'].sum()
  return quizes_sum, exams_sum, lessons_sum

In [ ]:
def make_engagements_dataset():
  records = []
  students = src_student_info['student_id']

  for student in students:
    end_date = get_payment_date(student)
    quiz, exam, lesson = get_engagement(student, end_date)

    columns = {"student_id": student}
    columns.update({"Engagement_quiz": quiz})
    columns.update({"Engagement_exam": exam})
    columns.update({"Engagement_lesson": lesson})
    records.append(columns)

  df = pd.DataFrame(records)
  return df

In [ ]:
Engagements = make_engagements_dataset()
Engagements

       student_id  Engagement_quiz  Engagement_exam  Engagement_lesson
0          258798                0                0                  1
1          258799                0                0                  0
2          258800                0                0                  0
3          258801                0                0                  0
4          258802                0                0                  0
...           ...              ...              ...                ...
35225      295511                1                0                  1
35226      295512                1                0                  1
35227      295513                0                0                  1
35228      295514                0                0                  0
35229      295515                0                0                  0

[35230 rows x 4 columns]

In [ ]:
Engagements.to_csv(path+"engagements.csv", sep="\t")

In [ ]:
for col in Engagements.columns: print(Engagements[col].describe())

count     35230.000000
mean     277003.640874
std       10556.258459
min      258798.000000
25%      267815.250000
50%      277001.500000
75%      286075.750000
max      295515.000000
Name: student_id, dtype: float64
count    35230.000000
mean         0.279762
std          0.807841
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         29.000000
Name: Engagement_quiz, dtype: float64
count    35230.000000
mean         0.100852
std          0.512266
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         28.000000
Name: Engagement_exam, dtype: float64
count    35230.000000
mean         0.820579
std          1.619508
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max         88.000000
Name: Engagement_lesson, dtype: float64

In [ ]:
for col in Engagements.columns: print(Engagements[col].value_counts())

258798    1
283091    1
283085    1
283086    1
283087    1
         ..
270900    1
270899    1
270898    1
270897    1
295515    1
Name: student_id, Length: 35230, dtype: int64
0     28924
1      4275
2      1289
3       441
4       158
5        72
6        19
7        12
10        7
8         6
11        6
9         6
15        4
16        3
18        2
13        2
14        1
20        1
29        1
19        1
Name: Engagement_quiz, dtype: int64
0     32714
1      1969
2       351
3       108
4        45
5        13
6         9
7         5
11        3
14        3
9         2
10        2
12        2
28        1
13        1
27        1
19        1
Name: Engagement_exam, dtype: int64
0     18302
1     11700
2      2825
3      1082
4       544
5       292
6       147
7       100
8        56
9        46
11       22
10       22
12       18
14       13
13       10
15        7
18        6
25        4
19        4
16        4
17        3
23        3
20        3
27        2
22        2
47        1
44        1
28        1
31        1
32        1
24        1
88        1
21        1
37        1
36        1
51        1
34        1
39        1
Name: Engagement_lesson, dtype: int64

# creating dataset: exams

In [ ]:
def get_exam_dictionaries(student_id, end_date):
  student_attempts = src_student_exams[src_student_exams['student_id']==student_id]
  attempts_to_date = student_attempts[student_attempts['date_exam_completed'].dt.date<end_date]
  cat1 = cat2 = cat4 = 0
  time1 = time2 = time4 = 0
  dura1 = dura2 = dura4 = 0
  res1 = res2 = res4 = 0
  mean_duration = src_exam_info['exam_duration'].mean()

  for exam, time, result in zip(attempts_to_date['exam_id'].tolist(), attempts_to_date['exam_completion_time'].tolist(), attempts_to_date['exam_result'].tolist()):
    if len(src_exam_info[src_exam_info['exam_id']==exam])>0:
      exam_category = src_exam_info[src_exam_info['exam_id']==exam]['exam_category'].values[0]
      exam_duration = src_exam_info[src_exam_info['exam_id']==exam]['exam_duration'].values[0]
    else:
      # in some cases there was no corresponding records in "exam_info" dataset
      exam_category = 2
      exam_duration = mean_duration

    if exam_category==1:
      cat1 += 1
      time1 += time
      dura1 += exam_duration
      res1 += result
    elif exam_category==2:
      cat2 += 1
      time2 += time
      dura2 += exam_duration
      res2 += result
    else:
      cat4 += 1
      time4 += time
      dura4 += exam_duration
      res4 += result

  if cat1==0: 
    avgtime1 = 0 
    avgperc1 = 0
    avgres1 = 0
  else: 
    avgtime1 = time1 / cat1
    avgperc1 = time1 / dura1
    avgres1 = res1 / cat1
  
  if cat2==0: 
    avgtime2 = 0 
    avgperc2 = 0
    avgres2 = 0
  else: 
    avgtime2 = time2 / cat2
    avgperc2 = time2 / dura2
    avgres2 = res2 / cat2

  if cat4==0: 
    avgtime4 = 0 
    avgperc4 = 0
    avgres4 = 0
  else: 
    avgtime4 = time4 / cat4
    avgperc4 = time4 / dura4
    avgres4 = res4 / cat4

  if cat1 + cat2 + cat4 == 0:
    time_total = 0
    res_total = 0
  else:
    time_total = (time1 + time2 + time4)/(cat1 + cat2 + cat4)
    res_total = (res1 + res2 + res4)/(cat1 + cat2 + cat4)

  if dura1 + dura2 + dura4 == 0:
    perc_total = 0
  else:
    perc_total = (time1 + time2 + time4)/(dura1 + dura2 + dura4)

  dict_cat = {"ExamCat1_Nr": cat1, "ExamCat2_Nr": cat2, "ExamCat4_Nr": cat4}
  dict_cat_total = {"Exams_Nr": cat1 + cat2 + cat4}
  dict_time = {"ExamCat1_AvgTime": avgtime1, "ExamCat2_AvgTime": avgtime2, "ExamCat4_AvgTime": avgtime4}
  dict_time_total = {"Exams_AvgTime": time_total}
  dict_perc = {"ExamCat1_PercTime": avgperc1, "ExamCat2_PercTime": avgperc2, "ExamCat4_PercTime": avgperc4}
  dict_perc_total = {"Exams_PercTime": perc_total}
  dict_res = {"ExamCat1_Result": avgres1, "ExamCat2_Result": avgres2, "ExamCat4_Result": avgres4}
  dict_res_total = {"Exams_Result": res_total}

  return dict_cat, dict_cat_total, dict_time, dict_time_total, dict_perc, dict_perc_total, dict_res, dict_res_total

In [ ]:
def make_exams_dataset():
  records = []
  students = src_student_info['student_id']

  for student in students:
    end_date = get_payment_date(student)
    dict_cat, dict_cat_total, dict_time, dict_time_total, dict_perc, dict_perc_total, dict_res, dict_res_total = get_exam_dictionaries(student, end_date)

    columns = {"student_id": student}
    columns.update(dict_cat)
    columns.update(dict_cat_total)
    columns.update(dict_time)
    columns.update(dict_time_total)
    columns.update(dict_perc)
    columns.update(dict_perc_total)
    columns.update(dict_res)
    columns.update(dict_res_total)
     
    records.append(columns)

  df = pd.DataFrame(records)
  return df

In [ ]:
Exams = make_exams_dataset()
Exams

,student_id,ExamCat1_Nr,ExamCat2_Nr,ExamCat4_Nr,Exams_Nr,ExamCat1_AvgTime,ExamCat2_AvgTime,ExamCat4_AvgTime,Exams_AvgTime,ExamCat1_PercTime,ExamCat2_PercTime,ExamCat4_PercTime,Exams_PercTime,ExamCat1_Result,ExamCat2_Result,ExamCat4_Result,Exams_Result
0,258798,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,258799,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,258800,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,258801,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,258802,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35225,295511,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35226,295512,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35227,295513,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35228,295514,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35229,295515,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
Exams.to_csv(path+"exams.csv", sep="\t")

In [ ]:
for col in Exams.columns: print(Exams[col].describe())

count     35230.000000
mean     277003.640874
std       10556.258459
min      258798.000000
25%      267815.250000
50%      277001.500000
75%      286075.750000
max      295515.000000
Name: student_id, dtype: float64
count    35230.000000
mean         0.030287
std          0.559769
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         39.000000
Name: ExamCat1_Nr, dtype: float64
count    35230.00000
mean         0.22952
std          1.56513
min          0.00000
25%          0.00000
50%          0.00000
75%          0.00000
max         80.00000
Name: ExamCat2_Nr, dtype: float64
count    35230.000000
mean         0.000937
std          0.039501
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          2.000000
Name: ExamCat4_Nr, dtype: float64
count    35230.000000
mean         0.260744
std          1.924966
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         90.000000
Name: Exams_Nr, dtype: float64
count    35230.000000
mean         0.127024
std          1.963614
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         75.000000
Name: ExamCat1_AvgTime, dtype: float64
count    35230.000000
mean         0.380103
std          1.749742
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         30.000000
Name: ExamCat2_AvgTime, dtype: float64
count    35230.000000
mean         0.013682
std          0.806184
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         75.000000
Name: ExamCat4_AvgTime, dtype: float64
count    35230.000000
mean         0.410920
std          1.938244
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         42.218333
Name: Exams_AvgTime, dtype: float64
count    35230.000000
mean         0.003153
std          0.045818
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000800
Name: ExamCat1_PercTime, dtype: float64
count    35230.000000
mean         0.022149
std          0.104407
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.017000
Name: ExamCat2_PercTime, dtype: float64
count    35230.000000
mean         0.000125
std          0.007805
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          0.937500
Name: ExamCat4_PercTime, dtype: float64
count    35230.000000
mean         0.022718
std          0.106629
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.017000
Name: Exams_PercTime, dtype: float64
count    35230.000000
mean         0.457376
std          5.766523
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        100.000000
Name: ExamCat1_Result, dtype: float64
count    35230.000000
mean         4.548250
std         17.609885
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        100.000000
Name: ExamCat2_Result, dtype: float64
count    35230.000000
mean         0.029549
std          1.391085
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        100.000000
Name: ExamCat4_Result, dtype: float64
count    35230.000000
mean         4.579334
std         17.650603
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        100.000000
Name: Exams_Result, dtype: float64

In [ ]:
for col in Exams.columns: print(Exams[col].value_counts())

258798    1
283091    1
283085    1
283086    1
283087    1
         ..
270900    1
270899    1
270898    1
270897    1
295515    1
Name: student_id, Length: 35230, dtype: int64
0     34972
1       110
2        51
4        15
3        12
9        11
5         7
6         7
7         6
14        6
10        5
8         5
11        5
12        5
16        4
23        2
15        2
17        2
39        1
13        1
26        1
Name: ExamCat1_Nr, dtype: int64
0     32701
1       928
2       747
3       299
4       168
5        96
6        58
7        49
8        32
9        29
10       21
13       10
15        8
14        8
16        8
20        8
11        8
12        7
21        6
30        5
17        4
18        4
25        4
26        3
22        2
33        2
34        2
24        2
29        1
80        1
70        1
76        1
35        1
71        1
31        1
19        1
45        1
53        1
46        1
Name: ExamCat2_Nr, dtype: int64
0    35208
1       11
2       11
Name: ExamCat4_Nr, dtype: int64
0     32676
1       935
2       740
3       296
4       153
5        85
6        64
7        43
8        35
9        29
11       22
10       20
12       13
14       10
16       10
15       10
13        8
21        7
19        7
17        7
20        7
25        5
18        4
23        4
22        4
26        3
42        3
24        3
28        3
38        2
46        2
43        2
32        2
30        2
87        1
90        1
79        1
89        1
31        1
65        1
40        1
34        1
56        1
39        1
36        1
53        1
54        1
61        1
Name: Exams_Nr, dtype: int64
0.000000     34972
30.000000        7
75.000000        4
25.000000        4
2.320000         2
             ...
20.900000        1
4.950000         1
9.602500         1
13.150000        1
42.218333        1
Name: ExamCat1_AvgTime, Length: 243, dtype: int64
0.000000     32701
10.000000       76
16.000000       23
15.000000       16
20.000000       15
             ...
3.388571         1
3.922000         1
5.554286         1
5.646667         1
2.653333         1
Name: ExamCat2_AvgTime, Length: 1735, dtype: int64
0.000     35208
1.200         2
75.000        2
5.840         1
1.300         1
4.280         1
1.415         1
1.775         1
27.710        1
0.670         1
6.975         1
50.935        1
44.380        1
39.240        1
8.635         1
3.130         1
19.935        1
41.980        1
5.170         1
43.235        1
23.025        1
Name: ExamCat4_AvgTime, dtype: int64
0.000000     32676
10.000000       76
16.000000       23
15.000000       16
20.000000       15
             ...
1.913333         1
0.940000         1
1.480000         1
6.210000         1
2.653333         1
Name: Exams_AvgTime, Length: 1774, dtype: int64
0.000000    34972
1.000000       12
0.681818        2
0.640000        2
0.694000        1
            ...
0.055000        1
0.170711        1
0.438333        1
0.825000        1
0.804159        1
Name: ExamCat1_PercTime, Length: 246, dtype: int64
0.000000    32701
1.000000       96
0.325339       42
0.650678        9
0.813347        7
            ...
0.066152        1
0.677000        1
0.118749        1
0.119887        1
0.341333        1
Name: ExamCat2_PercTime, Length: 2024, dtype: int64
0.000000    35208
0.048667        1
0.010833        1
0.010000        1
0.035667        1
0.009231        1
0.011320        1
0.014200        1
0.230917        1
0.008375        1
0.055800        1
0.391808        1
0.554750        1
0.937500        1
0.576923        1
0.327000        1
0.071958        1
0.026083        1
0.166125        1
0.322923        1
0.039769        1
0.360292        1
0.191875        1
Name: ExamCat4_PercTime, dtype: int64
0.000000    32676
1.000000      100
0.325339       42
0.650678        9
0.300000        8
            ...
0.040993        1
0.196342        1
0.058886        1
0.239157        1
0.341333        1
Name: Exams_PercTime, Length: 2057, dtype: int64
0.000000      34986
83.000000        15
75.000000        14
100.000000       14
71.000000        10
              ...
61.800000         1
63.923077         1
69.833333         1
63.250000         1
73.333333         1
Name: ExamCat1_Result, Length: 143, dtype: int64
0.000000     32829
67.000000      212
50.000000      205
75.000000      201
83.000000      164
             ...
52.833333        1
79.937500        1
70.900000        1
57.600000        1
51.545455        1
Name: ExamCat2_Result, Length: 330, dtype: int64
0.0      35208
26.0         3
100.0        2
45.0         1
29.0         1
95.0         1
21.0         1
22.5         1
31.0         1
7.0          1
52.5         1
90.0         1
62.0         1
71.0         1
12.0         1
36.0         1
34.5         1
88.0         1
33.5         1
33.0         1
Name: ExamCat4_Result, dtype: int64
0.000000     32808
67.000000      208
50.000000      205
75.000000      198
83.000000      163
             ...
59.666667        1
29.250000        1
87.157895        1
81.181818        1
53.400000        1
Name: Exams_Result, Length: 404, dtype: int64

# creating dataset: questions

In [ ]:
def get_questions_nr(student_id, end_date):
  student_questions = src_student_hub_questions[src_student_hub_questions['student_id']==student_id]
  questions_to_date = student_questions[student_questions['date_question_asked'].dt.date<end_date]
  return len(questions_to_date)

In [ ]:
def make_questions_dataset():
  records = []
  students = src_student_info['student_id']

  for student in students:
    end_date = get_payment_date(student)
    questions = get_questions_nr(student, end_date)

    columns = {"student_id": student}
    columns.update({"Questions_Nr": questions})
     
    records.append(columns)

  df = pd.DataFrame(records)
  return df

In [ ]:
Questions = make_questions_dataset()
Questions

       student_id  Questions_Nr
0          258798             0
1          258799             0
2          258800             0
3          258801             0
4          258802             0
...           ...           ...
35225      295511             0
35226      295512             0
35227      295513             0
35228      295514             0
35229      295515             0

[35230 rows x 2 columns]

In [ ]:
for col in Questions.columns: print(Questions[col].describe())

count     35230.000000
mean     277003.640874
std       10556.258459
min      258798.000000
25%      267815.250000
50%      277001.500000
75%      286075.750000
max      295515.000000
Name: student_id, dtype: float64
count    35230.000000
mean         0.003633
std          0.091281
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          9.000000
Name: Questions_Nr, dtype: float64

In [ ]:
for col in Questions.columns: print(Questions[col].value_counts())

258798    1
283091    1
283085    1
283086    1
283087    1
         ..
270900    1
270899    1
270898    1
270897    1
295515    1
Name: student_id, Length: 35230, dtype: int64
0    35139
1       73
2       10
3        3
4        3
9        1
5        1
Name: Questions_Nr, dtype: int64

In [ ]:
Questions.to_csv(path+"questions.csv", sep="\t")

# creating dataset: timing

In [ ]:
def get_periods(student_id, end_date):
  date_registered = src_student_info[src_student_info['student_id']==student_id]['date_registered'].dt.date.values[0]
  diff = end_date - date_registered
  period_registered = max(diff.days, 0)

  date_first_course = src_student_learning[src_student_learning['student_id']==student_id]['date_watched'].min().date()
  if pd.isnull(date_first_course):
    period_first_course = 0
  else:
    diff = end_date - date_first_course
    period_first_course = max(diff.days, 0)
  
  date_last_course = src_student_learning[src_student_learning['student_id']==student_id]['date_watched'].max().date()
  if pd.isnull(date_last_course):
    period_last_course = 0
  else:
    diff = end_date - date_last_course
    period_last_course = max(diff.days, 0)

  student_engagements = src_student_engagement[src_student_engagement["student_id"]==student_id]
  student_quizzes = student_engagements[student_engagements["engagement_quizzes"]>0]
  date_first_quiz = student_quizzes['date_engaged'].min().date()
  if pd.isnull(date_first_quiz):
    period_first_quiz = 0
  else:
    diff = end_date - date_first_quiz
    period_first_quiz = max(diff.days, 0)

  date_last_quiz = student_quizzes['date_engaged'].max().date()
  if pd.isnull(date_last_quiz):
    period_last_quiz = 0
  else:
    diff = end_date - date_last_quiz
    period_last_quiz = max(diff.days, 0)

  date_first_exam = src_student_exams[src_student_exams['student_id']==student_id]['date_exam_completed'].min().date()
  if pd.isnull(date_first_exam):
    period_first_exam = 0
  else:
    diff = end_date - date_first_exam
    period_first_exam = max(diff.days, 0)

  date_last_exam = src_student_exams[src_student_exams['student_id']==student_id]['date_exam_completed'].max().date()
  if pd.isnull(date_last_exam):
    period_last_exam = 0
  else:
    diff = end_date - date_last_exam
    period_last_exam = max(diff.days, 0)

  date_first_question = src_student_hub_questions[src_student_hub_questions['student_id']==student_id]['date_question_asked'].min().date()
  if pd.isnull(date_first_question):
    period_first_question = 0
  else:
    diff = end_date - date_first_question
    period_first_question = max(diff.days, 0)

  date_last_question = src_student_hub_questions[src_student_hub_questions['student_id']==student_id]['date_question_asked'].max().date()
  if pd.isnull(date_last_question):
    period_last_question = 0
  else:
    diff = end_date - date_last_question
    period_last_question = max(diff.days, 0)

  periods_campaigns = []

  date_winter_sale = datetime.date(2022, 1, 17)
  diff = end_date - date_winter_sale
  period_winter_sale = max(diff.days, 0)
  if period_winter_sale>0: periods_campaigns.append(period_winter_sale)

  date_spring_offer = datetime.date(2022, 3, 21)
  diff = end_date - date_spring_offer
  period_spring_offer = max(diff.days, 0)
  if period_spring_offer>0: periods_campaigns.append(period_spring_offer)

  date_summer_campaign = datetime.date(2022, 5, 20)
  diff = end_date - date_summer_campaign
  period_summer_campaign = max(diff.days, 0)
  if period_summer_campaign>0: periods_campaigns.append(period_summer_campaign)

  date_wanted_campaign = datetime.date(2022, 7, 18)
  diff = end_date - date_wanted_campaign
  period_wanted_campaign = max(diff.days, 0)
  if period_wanted_campaign>0: periods_campaigns.append(period_wanted_campaign)

  date_gamification = datetime.date(2022, 9, 16)
  diff = end_date - date_gamification
  period_gamification = max(diff.days, 0)
  if period_gamification>0: periods_campaigns.append(period_gamification)

  date_hero_campaign = datetime.date(2022, 9, 19)
  diff = end_date - date_hero_campaign
  period_hero_campaign = max(diff.days, 0)
  if period_hero_campaign>0: periods_campaigns.append(period_hero_campaign)

  if len(periods_campaigns)==0:
    period_campaigns = 0
  else: 
    period_campaigns = min(periods_campaigns) # from the closest campaign

  return period_registered, period_first_course, period_last_course, period_first_quiz, period_last_quiz, period_first_exam, period_last_exam, period_first_question, period_last_question, period_campaigns

In [ ]:
def make_timing_dataset():
  records = []
  students = src_student_info['student_id']

  for student in students:
    end_date = get_payment_date(student)
    periods = get_periods(student, end_date)

    columns = {"student_id": student}
    columns.update({"Period_Reg": periods[0]})
    columns.update({"Period_FCourse": periods[1]})
    columns.update({"Period_LCourse": periods[2]})
    columns.update({"Period_FQuiz": periods[3]})
    columns.update({"Period_LQuiz": periods[4]})
    columns.update({"Period_FExam": periods[5]})
    columns.update({"Period_LExam": periods[6]})
    columns.update({"Period_FQuest": periods[7]})
    columns.update({"Period_LQuest": periods[8]})
    columns.update({"Period_Camp": periods[9]})

    records.append(columns)

  df = pd.DataFrame(records)
  return df

In [ ]:
Timing = make_timing_dataset()
Timing

,student_id,Period_Reg,Period_FCourse,Period_LCourse,Period_FQuiz,Period_LQuiz,Period_FExam,Period_LExam,Period_FQuest,Period_LQuest,Period_Camp
0,258798,364,364,364,0,0,0,0,0,0,103
1,258799,364,0,0,0,0,0,0,0,0,103
2,258800,0,0,0,0,0,0,0,0,0,0
3,258801,364,0,0,0,0,0,0,0,0,103
4,258802,364,0,0,0,0,0,0,0,0,103
...,...,...,...,...,...,...,...,...,...,...,...
35225,295511,72,72,72,72,72,0,0,0,0,103
35226,295512,72,72,72,72,72,0,0,0,0,103
35227,295513,72,72,72,0,0,0,0,0,0,103
35228,295514,72,0,0,0,0,0,0,0,0,103
35229,295515,72,0,0,0,0,0,0,0,0,103

In [ ]:
for col in Timing.columns: print(Timing[col].describe())

count     35230.000000
mean     277003.640874
std       10556.258459
min      258798.000000
25%      267815.250000
50%      277001.500000
75%      286075.750000
max      295515.000000
Name: student_id, dtype: float64
count    35230.000000
mean       198.211865
std         94.992953
min          0.000000
25%        129.000000
50%        195.000000
75%        281.000000
max        364.000000
Name: Period_Reg, dtype: float64
count    35230.000000
mean        93.551433
std        117.000248
min          0.000000
25%          0.000000
50%          0.000000
75%        180.000000
max        364.000000
Name: Period_FCourse, dtype: float64
count    35230.000000
mean        89.880869
std        114.047948
min          0.000000
25%          0.000000
50%          0.000000
75%        169.000000
max        364.000000
Name: Period_LCourse, dtype: float64
count    35230.000000
mean        34.160914
std         84.018930
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        364.000000
Name: Period_FQuiz, dtype: float64
count    35230.00000
mean        33.29824
std         82.68831
min          0.00000
25%          0.00000
50%          0.00000
75%          0.00000
max        364.00000
Name: Period_LQuiz, dtype: float64
count    35230.000000
mean        12.805876
std         52.298560
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        364.000000
Name: Period_FExam, dtype: float64
count    35230.000000
mean        12.500908
std         51.438599
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        364.000000
Name: Period_LExam, dtype: float64
count    35230.000000
mean         0.461794
std         10.280494
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        360.000000
Name: Period_FQuest, dtype: float64
count    35230.000000
mean         0.458899
std         10.233192
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        360.000000
Name: Period_LQuest, dtype: float64
count    35230.000000
mean        98.120324
std         19.708906
min          0.000000
25%        103.000000
50%        103.000000
75%        103.000000
max        103.000000
Name: Period_Camp, dtype: float64

In [ ]:
for col in Timing.columns: print(Timing[col].value_counts())

258798    1
283091    1
283085    1
283086    1
283087    1
         ..
270900    1
270899    1
270898    1
270897    1
295515    1
Name: student_id, Length: 35230, dtype: int64
0      1019
138     709
137     474
212     425
136     262
       ...
26        1
64        1
65        1
70        1
59        1
Name: Period_Reg, Length: 363, dtype: int64
0      18298
138      412
137      289
136      196
1        188
       ...
33         1
43         1
64         1
34         1
48         1
Name: Period_FCourse, Length: 352, dtype: int64
0      19074
136      291
138      280
135      256
137      252
       ...
56         1
2          1
9          1
8          1
5          1
Name: Period_LCourse, Length: 303, dtype: int64
0      28924
138      157
1        145
137      128
136      104
       ...
69         1
50         1
58         1
70         1
26         1
Name: Period_FQuiz, Length: 347, dtype: int64
0      29413
136      156
137      116
138      100
135       94
       ...
40         1
44         1
67         1
24         1
55         1
Name: Period_LQuiz, Length: 308, dtype: int64
0      32676
136      117
138      108
137       97
1         62
       ...
19         1
232        1
307        1
56         1
30         1
Name: Period_FExam, Length: 325, dtype: int64
0      32870
136      163
135      108
137       65
138       42
       ...
14         1
9          1
67         1
2          1
12         1
Name: Period_LExam, Length: 306, dtype: int64
0      35139
137        5
125        3
138        3
2          2
       ...
222        1
221        1
212        1
218        1
80         1
Name: Period_FQuest, Length: 75, dtype: int64
0      35142
137        6
125        3
360        2
187        2
       ...
222        1
221        1
212        1
218        1
80         1
Name: Period_LQuest, Length: 74, dtype: int64
103    33095
10       131
9        122
11       107
0         97
       ...
47        15
58        14
63         7
61         5
62         4
Name: Period_Camp, Length: 65, dtype: int64

In [ ]:
Timing.to_csv(path+"timing.csv", sep="\t")

# creating final dataset: students

In [ ]:
def make_students_dataset(): 
  records = []
  students = src_student_info['student_id']

  print("making students dataframe")
  for student in students:
    end_date = get_payment_date(student)
    if end_date < datetime.date(2022,12,31):
      paying = 1
    else:
      paying = 0

    columns = {"student_id": student, "Paying": paying}
    records.append(columns)

  df_students = pd.DataFrame(records)

  files = ['courses.csv', 'quizes.csv', 'engagements.csv', 'exams.csv', 'questions.csv', 'timing.csv']
  for file in files:
    print("merging with "+file)
    df = pd.read_csv(path+file, sep="\t")
    df_students = df_students.merge(df.iloc[:,1:], left_on='student_id', right_on='student_id')

  return df_students

In [ ]:
df_students = make_students_dataset()

making students dataframe
merging with courses.csv
merging with quizes.csv
merging with engagements.csv
merging with exams.csv
merging with questions.csv
merging with timing.csv

In [ ]:
df_students.shape

(35230, 221)

In [ ]:
for col in df_students.columns: print(df_students[col].describe())

count     35230.000000
mean     277003.640874
std       10556.258459
min      258798.000000
25%      267815.250000
50%      277001.500000
75%      286075.750000
max      295515.000000
Name: student_id, dtype: float64
count    35230.000000
mean         0.060602
std          0.238602
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Paying, dtype: float64
count    35230.000000
mean         0.011013
std          0.104366
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_2, dtype: float64
count    35230.000000
mean         0.009991
std          0.099458
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_3, dtype: float64
count    35230.000000
mean         0.004485
std          0.066819
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_4, dtype: float64
count    35230.000000
mean         0.003463
std          0.058746
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_5, dtype: float64
count    35230.000000
mean         0.210843
std          0.407913
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_7, dtype: float64
count    35230.000000
mean         0.005932
std          0.076795
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_11, dtype: float64
count    35230.000000
mean         0.003974
std          0.062914
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_12, dtype: float64
count    35230.000000
mean         0.014845
std          0.120935
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_13, dtype: float64
count    35230.000000
mean         0.030883
std          0.173003
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_14, dtype: float64
count    35230.000000
mean         0.010275
std          0.100847
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_15, dtype: float64
count    35230.000000
mean         0.019188
std          0.137188
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_16, dtype: float64
count    35230.000000
mean         0.002895
std          0.053730
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_19, dtype: float64
count    35230.000000
mean         0.010588
std          0.102351
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_20, dtype: float64
count    35230.000000
mean         0.033352
std          0.179557
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_21, dtype: float64
count    35230.000000
mean         0.006642
std          0.081229
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_22, dtype: float64
count    35230.000000
mean         0.050695
std          0.219378
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_23, dtype: float64
count    35230.000000
mean         0.005251
std          0.072276
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_24, dtype: float64
count    35230.000000
mean         0.005450
std          0.073623
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_25, dtype: float64
count    35230.000000
mean         0.003605
std          0.059933
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_26, dtype: float64
count    35230.000000
mean         0.003293
std          0.057288
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_27, dtype: float64
count    35230.000000
mean         0.011751
std          0.107766
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_28, dtype: float64
count    35230.000000
mean         0.003690
std          0.060634
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_29, dtype: float64
count    35230.000000
mean         0.004456
std          0.066609
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_30, dtype: float64
count    35230.000000
mean         0.003293
std          0.057288
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_32, dtype: float64
count    35230.000000
mean         0.002838
std          0.053203
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_33, dtype: float64
count    35230.000000
mean         0.004485
std          0.066819
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_34, dtype: float64
count    35230.000000
mean         0.012603
std          0.111555
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_35, dtype: float64
count    35230.000000
mean         0.001902
std          0.043569
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_36, dtype: float64
count    35230.000000
mean         0.015527
std          0.123636
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_37, dtype: float64
count    35230.000000
mean         0.004769
std          0.068892
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_39, dtype: float64
count    35230.000000
mean         0.001050
std          0.032391
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_41, dtype: float64
count    35230.000000
mean         0.028981
std          0.167755
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_42, dtype: float64
count    35230.000000
mean         0.001561
std          0.039481
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_43, dtype: float64
count    35230.000000
mean         0.000568
std          0.023820
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_44, dtype: float64
count    35230.000000
mean         0.017542
std          0.131281
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_45, dtype: float64
count    35230.000000
mean         0.003066
std          0.055283
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_46, dtype: float64
count    35230.000000
mean         0.000653
std          0.025543
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_48, dtype: float64
count    35230.000000
mean         0.001107
std          0.033254
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_49, dtype: float64
count    35230.000000
mean         0.001504
std          0.038758
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_50, dtype: float64
count    35230.000000
mean         0.001107
std          0.033254
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_51, dtype: float64
count    35230.000000
mean         0.000852
std          0.029169
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_52, dtype: float64
count    35230.000000
mean         0.002838
std          0.053203
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_53, dtype: float64
count    35230.000000
mean         0.000653
std          0.025543
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_54, dtype: float64
count    35230.000000
mean         0.000511
std          0.022598
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_55, dtype: float64
count    35230.000000
mean         0.000284
std          0.016846
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_56, dtype: float64
count    35230.000000
mean         0.000596
std          0.024408
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: Course_Nr_57, dtype: float64
count    35230.000000
mean         0.575532
std          0.750269
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max         16.000000
Name: Courses_Nr, dtype: float64
count    35230.000000
mean         0.361629
std          6.404995
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        354.800000
Name: Course_Time_2, dtype: float64
count    35230.000000
mean         0.439285
std         10.050490
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        816.000000
Name: Course_Time_3, dtype: float64
count    35230.000000
mean         0.166724
std          4.916452
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        432.900000
Name: Course_Time_4, dtype: float64
count    35230.000000
mean         0.100687
std          3.699318
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        333.800000
Name: Course_Time_5, dtype: float64
count    35230.000000
mean         4.306242
std         16.482947
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        354.900000
Name: Course_Time_7, dtype: float64
count    35230.000000
mean         0.132955
std          3.502393
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        177.400000
Name: Course_Time_11, dtype: float64
count    35230.000000
mean         0.102345
std          4.068997
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        531.900000
Name: Course_Time_12, dtype: float64
count    35230.000000
mean         0.337125
std          5.911703
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        354.800000
Name: Course_Time_13, dtype: float64
count    35230.000000
mean         1.067085
std         13.514783
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        804.500000
Name: Course_Time_14, dtype: float64
count    35230.000000
mean         0.314956
std          6.290371
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        551.000000
Name: Course_Time_15, dtype: float64
count    35230.000000
mean         0.468379
std          9.033980
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        722.000000
Name: Course_Time_16, dtype: float64
count    35230.000000
mean         0.050020
std          1.829274
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        138.000000
Name: Course_Time_19, dtype: float64
count    35230.000000
mean         0.156835
std          2.957203
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        177.400000
Name: Course_Time_20, dtype: float64
count    35230.000000
mean         0.988887
std         10.985024
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        523.300000
Name: Course_Time_21, dtype: float64
count    35230.000000
mean         0.083185
std          2.100070
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        132.500000
Name: Course_Time_22, dtype: float64
count    35230.000000
mean         1.431729
std         12.340551
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        432.600000
Name: Course_Time_23, dtype: float64
count    35230.000000
mean         0.097505
std          3.343022
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        445.600000
Name: Course_Time_24, dtype: float64
count    35230.000000
mean         0.095160
std          2.526545
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        224.100000
Name: Course_Time_25, dtype: float64
count    35230.000000
mean         0.048470
std          1.372895
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        105.900000
Name: Course_Time_26, dtype: float64
count    35230.000000
mean         0.043605
std          1.315558
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         96.100000
Name: Course_Time_27, dtype: float64
count    35230.000000
mean         0.264772
std          5.153931
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        301.600000
Name: Course_Time_28, dtype: float64
count    35230.000000
mean         0.092345
std          3.166912
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        358.100000
Name: Course_Time_29, dtype: float64
count    35230.000000
mean         0.101334
std          2.407512
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        238.900000
Name: Course_Time_30, dtype: float64
count    35230.000000
mean         0.047502
std          1.833610
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        177.400000
Name: Course_Time_32, dtype: float64
count    35230.000000
mean         0.065305
std          2.574080
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        305.800000
Name: Course_Time_33, dtype: float64
count    35230.000000
mean         0.120341
std          3.178139
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        247.400000
Name: Course_Time_34, dtype: float64
count    35230.000000
mean         0.190891
std          3.227537
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        187.500000
Name: Course_Time_35, dtype: float64
count    35230.000000
mean         0.041167
std          1.769350
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        163.200000
Name: Course_Time_36, dtype: float64
count    35230.000000
mean         0.246682
std          5.232052
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        413.000000
Name: Course_Time_37, dtype: float64
count    35230.000000
mean         0.086074
std          2.451569
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        177.400000
Name: Course_Time_39, dtype: float64
count    35230.000000
mean         0.028183
std          1.938875
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        260.600000
Name: Course_Time_41, dtype: float64
count    35230.000000
mean         0.775226
std         12.598884
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        733.100000
Name: Course_Time_42, dtype: float64
count    35230.000000
mean         0.019007
std          0.846070
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         82.300000
Name: Course_Time_43, dtype: float64
count    35230.000000
mean         0.006472
std          0.486962
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         53.700000
Name: Course_Time_44, dtype: float64
count    35230.000000
mean         0.184016
std          3.386062
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        309.000000
Name: Course_Time_45, dtype: float64
count    35230.000000
mean         0.079926
std          3.351639
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        323.900000
Name: Course_Time_46, dtype: float64
count    35230.000000
mean         0.013429
std          0.997397
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        121.100000
Name: Course_Time_48, dtype: float64
count    35230.000000
mean         0.011749
std          0.722938
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         90.800000
Name: Course_Time_49, dtype: float64
count    35230.000000
mean         0.016213
std          0.591764
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         49.500000
Name: Course_Time_50, dtype: float64
count    35230.000000
mean         0.014468
std          0.791263
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         67.200000
Name: Course_Time_51, dtype: float64
count    35230.000000
mean         0.014530
std          0.803124
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         89.100000
Name: Course_Time_52, dtype: float64
count    35230.000000
mean         0.043713
std          2.115373
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        265.900000
Name: Course_Time_53, dtype: float64
count    35230.000000
mean         0.011377
std          0.635283
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         60.400000
Name: Course_Time_54, dtype: float64
count    35230.000000
mean         0.003838
std          0.354066
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         61.300000
Name: Course_Time_55, dtype: float64
count    35230.000000
mean         0.004862
std          0.531546
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         76.800000
Name: Course_Time_56, dtype: float64
count    35230.000000
mean         0.002753
std          0.178497
min          0.000000

In [ ]:
for col in df_students.columns: print(df_students[col].value_counts())

258798    1
283091    1
283085    1
283086    1
283087    1
         ..
270900    1
270899    1
270898    1
270897    1
295515    1
Name: student_id, Length: 35230, dtype: int64
0    33095
1     2135
Name: Paying, dtype: int64
0    34842
1      388
Name: Course_Nr_2, dtype: int64
0    34878
1      352
Name: Course_Nr_3, dtype: int64
0    35072
1      158
Name: Course_Nr_4, dtype: int64
0    35108
1      122
Name: Course_Nr_5, dtype: int64
0    27802
1     7428
Name: Course_Nr_7, dtype: int64
0    35021
1      209
Name: Course_Nr_11, dtype: int64
0    35090
1      140
Name: Course_Nr_12, dtype: int64
0    34707
1      523
Name: Course_Nr_13, dtype: int64
0    34142
1     1088
Name: Course_Nr_14, dtype: int64
0    34868
1      362
Name: Course_Nr_15, dtype: int64
0    34554
1      676
Name: Course_Nr_16, dtype: int64
0    35128
1      102
Name: Course_Nr_19, dtype: int64
0    34857
1      373
Name: Course_Nr_20, dtype: int64
0    34055
1     1175
Name: Course_Nr_21, dtype: int64
0    34996
1      234
Name: Course_Nr_22, dtype: int64
0    33444
1     1786
Name: Course_Nr_23, dtype: int64
0    35045
1      185
Name: Course_Nr_24, dtype: int64
0    35038
1      192
Name: Course_Nr_25, dtype: int64
0    35103
1      127
Name: Course_Nr_26, dtype: int64
0    35114
1      116
Name: Course_Nr_27, dtype: int64
0    34816
1      414
Name: Course_Nr_28, dtype: int64
0    35100
1      130
Name: Course_Nr_29, dtype: int64
0    35073
1      157
Name: Course_Nr_30, dtype: int64
0    35114
1      116
Name: Course_Nr_32, dtype: int64
0    35130
1      100
Name: Course_Nr_33, dtype: int64
0    35072
1      158
Name: Course_Nr_34, dtype: int64
0    34786
1      444
Name: Course_Nr_35, dtype: int64
0    35163
1       67
Name: Course_Nr_36, dtype: int64
0    34683
1      547
Name: Course_Nr_37, dtype: int64
0    35062
1      168
Name: Course_Nr_39, dtype: int64
0    35193
1       37
Name: Course_Nr_41, dtype: int64
0    34209
1     1021
Name: Course_Nr_42, dtype: int64
0    35175
1       55
Name: Course_Nr_43, dtype: int64
0    35210
1       20
Name: Course_Nr_44, dtype: int64
0    34612
1      618
Name: Course_Nr_45, dtype: int64
0    35122
1      108
Name: Course_Nr_46, dtype: int64
0    35207
1       23
Name: Course_Nr_48, dtype: int64
0    35191
1       39
Name: Course_Nr_49, dtype: int64
0    35177
1       53
Name: Course_Nr_50, dtype: int64
0    35191
1       39
Name: Course_Nr_51, dtype: int64
0    35200
1       30
Name: Course_Nr_52, dtype: int64
0    35130
1      100
Name: Course_Nr_53, dtype: int64
0    35207
1       23
Name: Course_Nr_54, dtype: int64
0    35212
1       18
Name: Course_Nr_55, dtype: int64
0    35220
1       10
Name: Course_Nr_56, dtype: int64
0    35209
1       21
Name: Course_Nr_57, dtype: int64
0     18298
1     14731
2      1551
3       405
4       138
5        53
6        19
7        17
8         9
11        4
14        2
9         2
16        1
Name: Courses_Nr, dtype: int64
0.0      34842
0.1         17
0.6          9
0.7          9
1.5          8
         ...
104.9        1
18.4         1
1.2          1
53.2         1
42.7         1
Name: Course_Time_2, Length: 250, dtype: int64
0.0      34878
0.1         19
0.4         10
177.4        9
1.0          9
         ...
609.9        1
119.6        1
117.0        1
80.2         1
18.9         1
Name: Course_Time_3, Length: 216, dtype: int64
0.0      35072
0.1          6
0.6          5
0.7          4
0.2          4
         ...
34.5         1
38.9         1
4.0          1
21.4         1
150.9        1
Name: Course_Time_4, Length: 122, dtype: int64
0.0      35108
0.1         12
3.0          5
0.3          4
0.2          4
         ...
0.4          1
15.2         1
115.2        1
333.8        1
0.7          1
Name: Course_Time_5, Length: 95, dtype: int64
0.0      27802
0.1        458
0.2        286
1.2        228
0.3        199
         ...
26.2         1
9.5          1
96.7         1
112.4        1
114.0        1
Name: Course_Time_7, Length: 1046, dtype: int64
0.0      35021
0.1         22
0.2         11
0.3          7
0.4          6
         ...
112.3        1
14.3         1
6.9          1
8.3          1
75.4         1
Name: Course_Time_11, Length: 121, dtype: int64
0.0     35090
0.1         9
0.2         4
0.5         3
2.3         3
        ...
1.1         1
21.3        1
6.5         1
26.2        1
4.7         1
Name: Course_Time_12, Length: 106, dtype: int64
0.0      34708
0.1         41
0.5         26
0.2         17
0.6         16
         ...
7.1          1
40.0         1
40.4         1
117.0        1
17.4         1
Name: Course_Time_13, Length: 255, dtype: int64
0.0      34143
0.1         72
0.2         51
0.4         29
0.7         19
         ...
9.8          1
66.7         1
38.3         1
106.5        1
62.8         1
Name: Course_Time_14, Length: 499, dtype: int64
0.0      34868
0.1         15
0.7         14
0.2         11
0.6         10
         ...
110.9        1
18.4         1
16.6         1
99.8         1
177.4        1
Name: Course_Time_15, Length: 231, dtype: int64
0.0     34554
0.1        48
0.2        30
0.3        24
0.7        22
        ...
78.5        1
54.9        1
6.1         1
16.5        1
50.4        1
Name: Course_Time_16, Length: 302, dtype: int64
0.0      35128
0.1         13
0.3          5
0.6          5
0.7          4
         ...
35.9         1
7.4          1
43.4         1
138.0        1
2.0          1
Name: Course_Time_19, Length: 64, dtype: int64
0.0     34857
0.1        43
0.3        21
0.2        21
0.4        10
        ...
15.4        1
77.6        1
75.1        1
45.5        1
6.0         1
Name: Course_Time_20, Length: 187, dtype: int64
0.0      34055
0.1         57
0.2         41
0.4         28
0.3         28
         ...
44.7         1
28.1         1
51.0         1
70.8         1
206.9        1
Name: Course_Time_21, Length: 523, dtype: int64
0.0     34996
0.1        15
0.4        11
0.2         9
0.3         8
        ...
26.7        1
18.4        1
17.0        1
7.7         1
8.6         1
Name: Course_Time_22, Length: 132, dtype: int64
0.0      33444
0.1        107
0.2         64
0.8         62
0.3         50
         ...
25.8         1
122.3        1
32.8         1
97.2         1
43.7         1
Name: Course_Time_23, Length: 683, dtype: int64
0.0     35045
0.2        10
0.1        10
0.3         8
0.4         8
        ...
28.7        1
45.8        1
2.2         1
14.3        1
9.9         1
Name: Course_Time_24, Length: 113, dtype: int64
0.0     35038
0.5         7
0.2         7
0.1         7
1.6         4
        ...
5.0         1
2.7         1
19.3        1
12.9        1
6.5         1
Name: Course_Time_25, Length: 134, dtype: int64
0.0     35103
0.1        15
0.5         7
0.2         6
0.3         5
        ...
9.7         1
8.9         1
19.7        1
4.9         1
17.1        1
Name: Course_Time_26, Length: 79, dtype: int64
0.0     35114
0.1        11
0.4         7
0.2         6
4.3         3
        ...
9.9         1
11.9        1
23.7        1
12.7        1
59.6        1
Name: Course_Time_27, Length: 78, dtype: int64
0.0     34816
0.1        38
0.2        23
0.3        20
0.4        12
        ...
17.8        1
4.6         1
4.8         1
17.2        1
11.9        1
Name: Course_Time_28, Length: 216, dtype: int64
0.0      35100
0.1         14
0.3          4
0.7          3
7.4          3
         ...
106.9        1
1.5          1
1.7          1
15.6         1
31.4         1
Name: Course_Time_29, Length: 103, dtype: int64
0.0     35073
0.1         6
0.5         5
0.2         4
0.3         4
        ...
22.2        1
44.6        1
6.9         1
14.9        1
10.9        1
Name: Course_Time_30, Length: 120, dtype: int64
0.0    35114
0.1       11
0.3        8
0.2        6
0.9        5
       ...
4.5        1
9.4        1
7.0        1
1.4        1
7.5        1
Name: Course_Time_32, Length: 71, dtype: int64
0.0     35130
0.3         6
0.2         6
0.1         6
0.7         3
        ...
18.6        1
16.4        1
37.6        1
2.4         1
10.3        1
Name: Course_Time_33, Length: 74, dtype: int64
0.0     35072
0.2         8
0.1         6
0.3         5
0.6         4
        ...
70.3        1
21.3        1
58.7        1
10.0        1
74.7        1
Name: Course_Time_34, Length: 118, dtype: int64
0.0     34786
0.2        34
0.1        22
0.4        17
0.3        16
        ...
30.2        1
60.8        1
5.7         1
34.1        1
23.5        1
Name: Course_Time_35, Length: 218, dtype: int64
0.0      35163
0.5          3
3.8          3
0.2          3
0.1          3
3.9          2
5.0          2
2.0          2
0.3          2
8.4          2
69.7         1
13.1         1
4.7          1
23.6         1
39.6         1
11.1         1
63.5         1
21.3         1
2.5          1
0.6          1
12.1         1
11.8         1
57.2         1
32.2         1
19.1         1
5.8          1
6.4          1
8.9          1
14.8         1
49.6         1
7.5          1
2.3          1
14.2         1
14.5         1
98.3         1
17.2         1
5.6          1
3.3          1
91.4         1
3.1          1
92.8         1
5.9          1
75.9         1
0.9          1
23.8         1
1.4          1
22.8         1
7.7          1
96.3         1
139.3        1
163.2        1
10.6         1
25.3         1
5.4          1
1.0          1
Name: Course_Time_36, dtype: int64
0.0     34683
0.1        62
0.2        42
0.3        32
0.4        27
        ...
4.8         1
7.9         1
28.7        1
25.1        1
0.8         1
Name: Course_Time_37, Length: 203, dtype: int64
0.0      35062
0.4         10
1.4          9
1.0          7
0.1          7
         ...
6.4          1
16.1         1
130.6        1
12.7         1
10.0         1
Name: Course_Time_39, Length: 103, dtype: int64
0.0      35193
0.2          4
0.1          3
0.3          2
123.1        1
6.0          1
91.7         1
13.3         1
3.3          1
24.7         1
10.1         1
260.6        1
27.9         1
20.1         1
3.2          1
0.9          1
177.4        1
29.6         1
58.6         1
1.1          1
11.2         1
9.5          1
5.4          1
5.6          1
0.4          1
3.5          1
26.7         1
32.2         1
1.7          1
8.7          1
30.7         1
4.0          1
Name: Course_Time_41, dtype: int64
0.0      34209
0.1         92
0.2         57
0.3         43
2.2         36
         ...
43.6         1
327.1        1
302.5        1
118.3        1
62.1         1
Name: Course_Time_42, Length: 376, dtype: int64
0.0     35175
0.3         4
0.2         3
4.7         3
1.2         3
0.5         3
0.1         2
0.7         2
1.9         2
13.2        1
0.6         1
31.7        1
54.0        1
6.7         1
1.3         1
8.5         1
82.3        1
26.7        1
40.9        1
12.1        1
29.3        1
48.0        1
20.8        1
5.1         1
55.3        1
38.0        1
17.5        1
1.4         1
19.3        1
11.7        1
5.3         1
0.9         1
8.1         1
5.2         1
1.7         1
1.8         1
3.5         1
17.6        1
8.0         1
39.5        1
2.5         1
24.7        1
Name: Course_Time_43, dtype: int64
0.0     35210
0.1         3
1.0         2
38.3        1
53.7        1
47.3        1
9.0         1
9.3         1
3.2         1
17.8        1
0.9         1
5.4         1
1.7         1
0.7         1
2.2         1
0.3         1
35.1        1
0.8         1
Name: Course_Time_44, dtype: int64
0.0      34612
0.1         45
0.3         31
0.2         31
0.5         23
         ...
132.0        1
10.7         1
35.4         1
7.0          1
48.2         1
Name: Course_Time_45, Length: 217, dtype: int64
0.0     35122
0.1         4
0.2         4
0.5         4
4.3         4
        ...
7.7         1
14.3        1
1.9         1
6.9         1
31.5        1
Name: Course_Time_46, Length: 82, dtype: int64
0.0      35207
0.1          4
0.3          1
2.7          1
6.9          1
3.9          1
35.7         1
0.8          1
5.3          1
4.8          1
0.2          1
76.5         1
6.3          1
81.9         1
121.1        1
73.0         1
7.3          1
0.9          1
16.8         1
1.4          1
26.9         1
Name: Course_Time_48, dtype: int64
0.0     35191
0.1         7
0.7         3
0.6         2
3.8         2
0.3         2
38.3        2
18.9        1
5.8         1
90.8        1
4.4         1
0.8         1
6.0         1
2.4         1
0.2         1
7.6         1
4.9         1
30.6        1
3.0         1
7.8         1
22.5        1
59.6        1
11.2        1
2.0         1
1.0         1
37.7        1
7.5         1
0.4         1
Name: Course_Time_49, dtype: int64
0.0     35177
0.1         3
9.1         2
5.7         2
0.3         2
14.4        1
12.4        1
11.9        1
12.2        1
21.6        1
0.5         1
1.2         1
14.1        1
8.4         1
36.1        1
27.5        1
49.5        1
16.3        1
3.0         1
0.4         1
18.9        1
5.2         1
0.6         1
0.7         1
18.4        1
3.5         1
29.9        1
20.7        1
6.4         1
4.7         1
1.4         1
1.6         1
6.1         1
23.1        1
11.3        1
10.6        1
11.4        1
4.3         1
13.3        1
8.7         1
31.8        1
4.1         1
4.0         1
3.6         1
3.9         1
30.7        1
1.3         1
8.2         1
22.8        1
Name: Course_Time_50, dtype: int64
0.0     35191
0.4         5
0.1         3
0.5         2
2.1         2
15.1        1
1.7         1
2.9         1
4.0         1
57.3        1
44.7        1
62.5        1
0.2         1
25.5        1
5.2         1
62.0        1
11.5        1
4.4         1
1.9         1
4.7         1
1.6         1
41.7        1
26.5        1
17.8        1
67.2        1
5.0         1
4.5         1
3.8         1
0.8         1
2.8         1
23.6        1
3.3         1
Name: Course_Time_51, dtype: int64
0.0     35200
0.1         3
0.7         2
3.3         1
16.1        1
25.9        1
2.1         1
22.9        1
62.3        1
18.9        1
0.3         1
48.1        1
55.6        1
89.1        1
0.4         1
0.8         1
3.8         1
22.8        1
12.9        1
3.1         1
12.7        1
16.8        1
0.2         1
1.0         1
32.6        1
23.8        1
29.4        1
5.3         1
Name: Course_Time_52, dtype: int64
0.0     35130
0.1        13
0.4         7
0.2         6
0.9         4
        ...
33.1        1
6.5         1
81.4        1
4.6         1
68.5        1
Name: Course_Time_53, Length: 62, dtype: int64
0.0     35207
0.1         3
0.2         2
0.6         1
24.9        1
10.9        1
3.0         1
32.0        1
29.1        1
8.0         1
0.3         1
51.0        1
60.4        1
33.1        1
30.7        1
8.5         1
38.1        1
30.1        1
27.3        1
4.7         1
7.4         1
Name: Course_Time_54, dtype: int64
0.0     35212
1.1         2
0.3         2
0.7         1
9.1         1
1.0         1
4.2         1
15.7        1
61.3        1
6.7         1
4.9         1
1.3         1
12.0        1
1.9         1
0.2         1
7.0         1
6.4         1
Name: Course_Time_55, dtype: int64
0.0     35220
0.2         2
2.8         1
8.5         1
76.8        1
21.1        1
59.4        1
0.9         1
0.1         1
1.3         1
Name: Course_Time_56, dtype: int64
0.0     35209
3.2         3
0.1         3
0.2         2
1.8         2
0.9         1
4.3         1
8.1         1
10.0        1
5.8         1
23.3        1
11.2        1
13.6        1
1.3         1
3.1         1
1.5         1
Name: Course_Time_57, dtype: int64
0.0      18299
0.1       1126
0.2        694
0.3        510
0.4        437
         ...
116.3        1
257.7        1
110.3        1
255.3        1
136.3        1
Name: Courses_Time, Length: 1879, dtype: int64
0.000000    34854
4.625000      365
4.600000        4
4.384615        2
4.617647        2
4.555556        2
4.545455        1
Name: Course_GeneralRating_2, dtype: int64
0.000000    34890
4.705882      327
4.681818        4
4.444444        2
4.500000        2
4.600000        2
4.285714        1
4.571429        1
4.538462        1
Name: Course_GeneralRating_3, dtype: int64
0.000000    35081
4.880000      145
4.857143        2
4.888889        1
4.904762        1
Name: Course_GeneralRating_4, dtype: int64
0.000000    35110
4.903226      119
4.933333        1
Name: Course_GeneralRating_5, dtype: int64
0.000000    28032
4.858392     6981
4.824675        8
4.852814        8
4.833333        8
            ...
4.829384        1
4.825893        1
4.830986        1
4.849558        1
4.854749        1
Name: Course_GeneralRating_7, Length: 89, dtype: int64
0.000000    35029
4.622642      198
4.725000        3
Name: Course_GeneralRating_11, dtype: int64
0.000000    35092
4.357143      137
4.000000        1
Name: Course_GeneralRating_12, dtype: int64
0.000000    34715
4.844444      510
4.840580        2
4.845070        1
4.858974        1
4.853333        1
Name: Course_GeneralRating_13, dtype: int64
0.000000    34183
4.816000     1009
4.814159        4
4.833333        3
4.837500        3
4.818966        2
4.786885        2
4.707317        2
4.675676        2
4.500000        1
4.711111        1
4.812500        1
4.842593        1
4.836538        1
4.845238        1
4.835443        1
4.829787        1
4.800000        1
4.723404        1
4.647059        1
4.727273        1
4.835052        1
4.000000        1
4.625000        1
4.841121        1
4.838384        1
4.803030        1
4.739130        1
4.816667        1
Name: Course_GeneralRating_14, dtype: int64
0.000000    34878
4.705882      344
4.666667        6
4.750000        1
4.900000        1
Name: Course_GeneralRating_15, dtype: int64
0.000000    34577
4.821782      631
4.863636        5
4.835294        3
4.842105        2
4.840580        2
5.000000        1
4.777778        1
4.833333        1
4.828571        1
4.828125        1
4.835821        1
4.837838        1
4.835616        1
4.837500        1
4.843373        1
Name: Course_GeneralRating_16, dtype: int64
0.0    35129
5.0      101
Name: Course_GeneralRating_19, dtype: int64
0.000000    34863
4.929825      353
4.909091        2
4.924528        2
5.000000        1
4.846154        1
4.921053        1
4.823529        1
4.884615        1
4.906250        1
4.914286        1
4.911111        1
4.913043        1
4.920000        1
Name: Course_GeneralRating_20, dtype: int64
0.000000    34108
4.813953     1083
4.819277        2
4.797927        2
4.870968        2
4.920000        2
4.805882        2
4.833333        2
4.818182        1
4.821192        1
4.794286        1
4.825000        1
4.828125        1
4.825397        1
4.815068        1
4.832000        1
4.809756        1
4.857143        1
4.796875        1
4.820513        1
4.826087        1
4.861111        1
4.843137        1
4.820359        1
4.846154        1
4.904762        1
4.777778        1
4.813793        1
4.829268        1
4.827869        1
4.822222        1
4.750000        1
4.842105        1
4.830508        1
4.807692        1
Name: Course_GeneralRating_21, dtype: int64
0.000000    35005
4.850000      215
4.800000        2
4.848485        2
4.809524        1
4.823529        1
4.785714        1
4.750000        1
4.826923        1
4.818182        1
Name: Course_GeneralRating_22, dtype: int64
0.000000    33467
4.776860     1728
4.800000        5
4.754011        3
4.789474        2
4.763736        2
4.787671        1
4.761682        1
4.772532        1
4.752525        1
4.752632        1
4.753695        1
4.765027        1
4.787500        1
4.790123        1
4.783439        1
4.829545        1
4.798561        1
4.822222        1
4.760204        1
4.819277        1
4.810811        1
4.788462        1
4.762791        1
4.714286        1
4.884615        1
4.882353        1
4.885714        1
4.769565        1
Name: Course_GeneralRating_23, dtype: int64
0.000000    35048
4.672131      172
4.759259        2
4.697674        1
4.769231        1
4.800000        1
4.729730        1
4.711111        1
4.740000        1
4.714286        1
4.719298        1
Name: Course_GeneralRating_24, dtype: int64
0.000000    35045
4.809524      182
5.000000        1

In [ ]:
df_students

,student_id,Paying,Course_Nr_2,Course_Nr_3,Course_Nr_4,Course_Nr_5,Course_Nr_7,Course_Nr_11,Course_Nr_12,Course_Nr_13,...,Period_Reg,Period_FCourse,Period_LCourse,Period_FQuiz,Period_LQuiz,Period_FExam,Period_LExam,Period_FQuest,Period_LQuest,Period_Camp
0,258798,0,0,0,0,0,0,0,0,0,...,364,364,364,0,0,0,0,0,0,103
1,258799,0,0,0,0,0,0,0,0,0,...,364,0,0,0,0,0,0,0,0,103
2,258800,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,258801,0,0,0,0,0,0,0,0,0,...,364,0,0,0,0,0,0,0,0,103
4,258802,0,0,0,0,0,0,0,0,0,...,364,0,0,0,0,0,0,0,0,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35225,295511,0,0,0,0,0,1,0,0,0,...,72,72,72,72,72,0,0,0,0,103
35226,295512,0,0,0,0,0,1,0,0,0,...,72,72,72,72,72,0,0,0,0,103
35227,295513,0,0,0,0,0,0,0,0,0,...,72,72,72,0,0,0,0,0,0,103
35228,295514,0,0,0,0,0,0,0,0,0,...,72,0,0,0,0,0,0,0,0,103
35229,295515,0,0,0,0,0,0,0,0,0,...,72,0,0,0,0,0,0,0,0,103

In [ ]:
df_students.to_csv(path+"Students.csv", sep="\t")